<md-content layout-padding class="md-padding">
    <h1>
        <strong>
            Über uns
        </strong>
    </h1>

    <p>
        <strong>Dreambeem.com</strong> ist ein Familienunternehmen. CEO Andras Seke und seine Mutter Terezia Seke CFO kümmern sich um strategische & finanzielle Fragen.
        Laslo Seke jun. und Laslo Seke sen. kümmern sich um die Bestellungen, die über Dreambeem.com ankommen.
        Bei allen Fragen sind Sie rund um die Uhr für Dich da.
    </p>
</md-content>
