<h2><strong>Allgemeine Geschäftsbedingungen der Drambeem.com Papers (nachfolgend auch Dreambeem) für kostenlose Angebote im Dreambeem Merchant  - Member - Bereich</strong></h2>

<p>Lieber Dreambeem Merchant-User,<br>
wenn Sie im Bereich Merchant – Member - Bereich unserer Website dreambeem.com/dream-papaers unsere kostenpflichtigen Angebote nutzen möchten, bitten wir Sie, <br>
    sich unsere Allgemeinen Geschäftsbedingungen (nachfolgend AGB) aufmerksam durchzulesen. Mit Abschluss des Vertrags erkennen Sie diese AGB an und erklären sich mit deren Geltung einverstanden.<br><br>

<strong>1. Geltungsbereich</strong><br>
<strong>1.1</strong> Wir bieten im Bereich  auf unserer Website unter dreambeem.com sowohl Informationen (nachfolgend auch Content) an, die unentgeltlich genutzt werden können. Diese AGB gelten nur für die Nutzung<br>
    des Content, den Dreambeem dem Kunden kostenlos zur Verfügung stellt. Für die Nutzung des kostenfreien Content gelten die Datenrichtlinie von Dreambeem, <br>
    die auf unserer Website eingesehen werden können.<br>
<strong>1.2.</strong> Diese AGB gelten ab dem 13.06.2017.<br><br>

<strong>2. Leistungen von Dreambeem</strong><br><br>

<strong>2.1</strong>Angebot von Realtime-Kursinformationen zum privaten Gebrauch<br>
<strong>2.2.1</strong> Dreambeem stellt privaten Kunden im Bereich Dreambeem Merchant unserer Website www.dreambeem.com börsentäglich Realtime-Kursinformationen in dem von dem Kunden <br>
    ausgewählten Umfang zum Abruf zur Verfügung. Ein Realtime-Kurs ist ein Börsenpreis, zwischen dessen Feststellung und Veröffentlichung ein Zeitraum von weniger als 20 Sekunden liegt.<br>
<strong>2.2.2</strong> Realtime-Kursinformationen dürfen über Dreambeem Merchant nur von Privatanlegern und ausschließlich zum privaten Gebrauch gebucht und abgerufen werden. <br>
    Ein Privatanleger im Sinne dieser AGB ist, wer sämtliche nachfolgend aufgelisteten Voraussetzungen erfüllt:<br>
<strong>a)</strong> Der Kunde ist eine natürliche Person;<br>
<strong>b)</strong> der Kunde ist kein Kreditinstitut oder Finanzdienstleistungsunternehmen;<br>
<strong>c)</strong> der Kunde nutzt die Informationen ausschließlich für seine persönlichen Zwecke, wie insbesondere die Verwaltung des privaten Vermögens;<br>
<strong>>d)</strong> der Kunde nutzt die Informationen nicht für gewerbliche Zwecke, wie etwa gewerblichen Wertpapierhandel oder die gewerbliche Verwaltung fremden Vermögens oder<br>
    für eine Tätigkeit bei einem Kreditinstitut, einem Finanzdienstleistungsinstitut oder einem sonstigen Unternehmen, das einer in- oder ausländischen Banken-, Börsen-, Wertpapierhandels-<br>
    oder Investmentaufsicht unterliegt;<br>
<strong>e)</strong> der Kunde nutzt die Informationen auch nicht in anderer Weise für Zwecke Dritter, wie etwa die unentgeltliche Verwaltung fremden Vermögens im Rahmen eines nicht-kommerziellen<br>
    Investment-Clubs; und<br>
<strong>f)</strong> der Kunde verteilt die Informationen nicht an Dritte weiter und wird Dritten, insbesondere solchen, die keine Privatanleger im Sinne der vorliegenden Definition sind,<br>
    keinen Zugang zu den Informationen verschaffen.<br><br>

<strong>3. Umfang der Nutzung des Content</strong>
<strong>3.1</strong> Der Kunde ist nur berechtigt, den von Dreambeem zur Verfügung gestellten Content zu privaten / eigenen Zwecken zu nutzen. <br>
    Er ist ohne ausdrückliche schriftliche Einwilligung von Dreambeem berechtigt, den Content oder Teile hiervon an Dritte weiterzugeben, Dritten den Zugang zu dem Content<br>
    entgeltlich oder unentgeltlich zu verschaffen oder zu ermöglichen oder den Content an Dritte zu vertreiben.<br>
<strong>3.2</strong> Etwas anderes gilt jedoch, sofern und soweit dem Kunden die gewerbliche Nutzung in diesen AGB oder gemäß den Bestimmungen dieser AGB ausdrücklich erlaubt ist.<br>
    In diesem Umfang ist der Kunde berechtigt, den Content auch zu gewerblichen Zwecken zu nutzen. Er darf ihn jedoch<br>
an Dritte weitervertreiben oder ihnen den Zugang zu dem Content entgeltlich oder unentgeltlich zur Verfügung stellen oder ermöglichen.<br>
<strong>3.3</strong> Sämtliche Inhalte und Leistungen, die durch Dreambeem angeboten werden und zu denen dem Kunden Zugang gewährt wird, sind durch gewerbliche Schutzrechte <br>
    (insbesondere Urheber-, Marken-, Patent- oder andere Rechte) und sonstige Gesetze geschützt und dürfen nur in der von Dreambeem genehmigten Form, Art und Weise genutzt werden.<br>
    Das Urheberrecht verbleibt bei dem jeweiligen Schutzrechtsinhaber. Eine – auch teilweise – Vervielfältigung, Veröffentlichung oder Verwendung des zur Verfügung gestellten Content<br>
    in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche schriftliche Einwilligung von Dreambeem nicht gestattet. Der Kunde ist zudem nicht berechtigt, <br>
    Urheberrechtshinweise, Markenbezeichnungen oder sonstige Angaben im Content zu verändern oder zu beseitigen. Eine automatisierte Abfrage des von Dreambeem bereitgestellten Content <br>
    oder von Teilen hieraus ist ohne ausdrückliche schriftliche Einwilligung von Dreambeem in jeglicher Form zulässig.<br>
<strong>3.4</strong> Verstößt der Kunde gegen die ihm gewährten Nutzungsrechte oder besteht der Verdacht des Missbrauchs der zur Verfügung gestellten Inhalte, so ist Dreambeem berechtigt,<br>
    den Zugang des Kunden zu dem Content ohne vorherige Ankündigung zu sperren. Ferner ist Dreambeem in einem solchen Fall berechtigt, den Vertrag fristlos zu kündigen.<br>
    Zudem ist Dreambeem in den zuvor geschilderten Fällen berechtigt, Schadensersatzansprüche bei Vorliegen der gesetzlichen Voraussetzungen geltend zu machen.<br>
    Im Rahmen dieser Schadensersatzansprüche ist der Kunde verpflichtet, Dreambeem von solchen Ansprüchen freizustellen, die Dritte gegen Dreambeem wegen der unberechtigten Nutzung des Content erheben.<br>
    Insbesondere hat der Kunde die durch die Nutzung durch Dritte eventuell anfallenden Gebühren von Dreambeem zu tragen. Dies gilt nicht, wenn Dreambeem grob fahrlässig oder vorsätzlich nicht erkannt<br>
    hat, dass ein unbefugter Dritter den Zugang nutzt.<br><br>
<strong>4. Pflichten des Kunden</strong><br>
<strong>4.1</strong> Der Kunde garantiert, dass alle von ihm bei der Registrierung bei Dreambeem Merchant sowie im Zusammenhang mit Bestellungen kostenloser Services gemachten Angaben,<br>
    wie z.B. Name, Adresse etc. wahrheitsgemäß und vollständig sind. Weiter versichert der Kunde, dass er 18 Jahre alt und voll geschäftsfähig ist. Der Kunde verpflichtet sich,<br>
    bei eintretenden Änderungen seiner Nutzerdaten unverzüglich seine persönlichen Einstellungen in Dreambeem Merchant zu aktualisieren.<br>
<strong>4.2</strong> Der Kunde verpflichtet sich, den Benutzernamen sowie das Passwort für den Zugang zu den kostenpflichtigen Services, <br>
    d.h. den Benutzernamen sowie das Passwort für den Zugang zu Dreambeem Merchant, geheim zu halten, insbesondere nicht an Dritte weiterzugeben oder Dritten den Zugang hierzu zu ermöglichen.<br>
    Bei einem Missbrauch oder Verlust dieser Angaben oder einem entsprechenden Verdacht ist dies Dreambeem unverzüglich anzuzeigen.<br>
<strong>4.3</strong> Sofern und soweit Dreambeem dem Kunden Content der Deutschen Börse AG, wie z.B. Realtime-Kursinformationen, bereitstellt, ist die Deutsche Börse AG berechtigt,<br>
    die Informationsnutzung durch den Kunden bei diesem zu überprüfen. Der Kunde ist in diesem Fall zur Mitwirkung, insbesondere dazu verpflichtet, den Prüfern Zugang zu den für seine Nutzung <br>
    relevanten Unterlagen und technischen Einrichtungen zu verschaffen und ggf. Unterlagen sowie elektronische Dateien herauszugeben.<br>
<strong>4.4</strong> Zudem verpflichtet sich der Kunde, die Dreambeem-Website, sowie den zur Verfügung gestellten Content und das von Dreambeem verwendete Abrechnungssystem nicht<br>
    rechtsmissbräuchlich zu nutzen. Dies schließt insbesondere folgende Pflichten ein:<br>
 der Kunde stellt sicher, dass durch von ihm eingespeiste Daten nicht gegen die gesetzlichen Bestimmungen über den Jugendschutz, die Persönlichkeitsrechte Dritter und die Verletzung von Schutzrechten,<br>
    insbesondere Urheberrechten Dritter, verstoßen wird,<br>
 der Kunde verpflichtet sich, eine übermäßige Belastung von Dreambeem durch ungezielte oder unsachgemäße Verbreitung von Daten zu unterlassen,<br>
 der Kunde stellt sicher, dass von ihm eingesetzte Skripte und Programme nicht mit Fehlern und Viren behaftet sind, die geeignet sind, die Leistungserbringung durch Dreambeem zu stören,<br>
 der Kunde verpflichtet sich, den ihm überlassenen Nutzernamen und das Passwort geheim zu halten. Bei einem Missbrauch oder Verlust dieser Angaben oder einem entsprechenden Verdacht ist dies <br>
    Dreambeem (support_papers@dreambeem.com) unverzüglich anzuzeigen.<br>

<strong>4.5</strong> Verstößt der Kunde gegen die oben genannten Pflichten oder besteht der Verdacht des Missbrauchs der Registrierung, so ist Dreambeem berechtigt,<br>
    den Zugang des Kunden zu dem Content ohne vorherige Ankündigung zu sperren. Ferner ist Dreambeem in einem solchen Fall zur fristlosen Vertragskündigung berechtigt.<br><br>
<strong>5. Zustandekommen des Vertrags</strong><br><br>
Fordert der Kunde kostenpflichtigen Content über ein speziell für das jeweilige Produkt bereitgestellte Online-Formular an, so erhält er von Dreambeem per E-Mail eine Zugangsbestätigung<br>
    mit den von ihm bei der Bestellung gemachten Angaben. Der Vertrag über den Bezug des bestellten kostenpflichtigen Content kommt dadurch zustande, dass Dreambeem den Kunden zu dem <br>
    entsprechenden Content frei schaltet oder den entsprechenden Content an den Kunden ausliefert und den Kunden hierüber informiert. Sofern keine gesonderte, anderweitige Information an den Kunden erfolgt,<br>
    gilt die Zugangsbestätigung als Vertragsbestätigung seitens Dreambeem.<br><br>
<strong>6. Preise / Fälligkeit</strong><br>
<strong>6.1</strong> Alle auf der Website veröffentlichten Preise sind freibleibend. Die Preise werden erst nach Freischaltung des Kunden zu dem entsprechenden Content bzw. nach Lieferung <br>
    des entsprechenden Content durch Dreambeem bindend.<br>
<strong>6.2</strong> Mögliche Zahlungsarten ist die SEPA-Überweisung.<br>
<strong>6.3</strong> Entsprechend der vom Kunden im Online-Formular gewählten Abrechnungsmethode zieht Dreambeem die monatliche Vergütung zum 3. Bankarbeitstag des jeweiligen Folgemonats entweder<br>
    per SEPA-Basis-Lastschrifteinzug oder per Belastung des Kreditkartenkontos ein. Der Kunde erteilt bei der Anmeldung im Online-Formular die entsprechende Ermächtigung bzw. das entsprechende Mandat <br>
    zum Einzug der jeweils fälligen Vergütung von seinem Bank- oder Kreditkartenkonto, bei Auslandskonten ggf. zuzüglich eines Pauschalbetrags für Bankspesen. Bei der SEPA-Basis-Lastschriftzahlung erfolgt <br>
    die Vorabinformation des Kunden zu dem anstehenden SEPA-Basis-Lastschrifteinzug, die sog. „Pre-Notification“, durch Dreambeem mit einem Vorlauf von mindestens einem Bankarbeitstag vor Fälligkeit <br>
    und einmalig für wiederkehrende SEPA-Basis-Lastschriften mit gleichen Lastschriftbeträgen. Der Kunde sorgt für eine ausreichende Deckung des angegebenen Kontos. Eventuell zusätzlich anfallende Kosten,<br>
    wie z.B. vom Kunden zu vertretende Rücklastschriften oder Mahngebühren sind vom Kunden zu tragen.<br>
<strong>6.4</strong> Rechnungen werden dem Kunden jeweils monatlich per E-Mail an die von ihm im Online-Formular angegebene E-Mail-Adresse mitgeteilt und zum Abruf in seinen persönlichen Einstellungen <br>
    in Dreambeem Merchant hinterlegt. Alle Preise verstehen sich inklusive der gesetzlichen Mehrwertsteuer.<br>
<strong>6.7</strong> Gegen Ansprüche von Dreambeem kann der Kunde nur mit unbestrittenen oder rechtskräftigen Ansprüchen aufrechnen. Zurückbehaltungsrechte stehen ihm nur wegen Ansprüchen aus dem einzelnen,<br>
    konkreten Vertragsverhältnis zu, dessen Bestandteil diese AGB sind.<br><br>
<strong>7. Zahlungssystem, Preisänderungen</strong><br>
<strong>7.1</strong> Dreambeem gewährleistet insoweit die Einhaltung datenschutzrechtlicher Bestimmungen. Dreambeem behält sich zudem das Recht vor, die Zahlungsmöglichkeiten zu erweitern oder zu verändern.<br>
<strong>7.2</strong> Für die Bezahlung der erbrachten Leistung seitens des Kunden, ist Dreambeem.com verantwortlich. Lediglich bei vom<br>
Der Kunde wird in der Benachrichtigung über die Gebühren- bzw. Preisänderung auf sein Widerspruchsrecht besonders hingewiesen.<br>

<strong>10. Gewährleistung</strong><br><br>
    <strong>10.1</strong> Dreambeem weist den Kunden ausdrücklich darauf hin, dass Dreambeem Daten und Informationen von Dritten bezieht. Eine Überprüfung aller von Dritten gelieferten Informationen<br>
    und Daten ist Dreambeem nicht möglich. Die Daten sind mit größtmöglicher Sorgfalt recherchiert. Zudem wählt Dreambeem die Informations- und Datenlieferanten sorgfältig aus und <br>
    führt Kontrollmaßnahmen, soweit möglich, durch. Diese Kontrollmaßnahmen können aufgrund der Vielzahl der gelieferten Informationen und Daten und der ständigen Aktualisierung nur stichprobenartig erfolgen.<br>
    Dreambeem gewährleistet daher nicht die Richtigkeit, Vollständigkeit und Aktualität der von Dritten bezogenen Daten und Informationen. Bitte wenden Sie Sich daher in jedem Fall vor Tätigung <br>
    einer Handelsaktivität bezüglich der dargestellten Wertpapiere, Derivate und sonstigen Geldmarktinstrumente an die Bank Ihres Vertrauens.<br>
<strong>10.2</strong> Zudem weist Dreambeem den Kunden ausdrücklich darauf hin, dass der zur Verfügung gestellte Content ausschließlich zu unverbindlichen Informationszwecken bereitgestellt wird. <br>
    Durch Dreambeem erfolgt keinerlei Anlageberatung, Empfehlung oder Aufforderung zum Kauf oder Verkauf von Wertpapieren, Derivaten oder sonstigen Geldmarktinstrumenten. <br>
    Es wird darauf hingewiesen, dass Investments in Wertpapiere grundsätzlich mit Risiken verbunden sind, welche die Konsultierung eines professionellen Anlageberaters erforderlich machen. <br>
    Der Totalverlust des eingesetzten Kapitals kann nicht ausgeschlossen werden. Der zur Verfügung gestellte Content ersetzt keinesfalls eine fachliche, speziell auf die persönlichen und <br>
    finanziellen Verhältnisse des Kunden zugeschnittene Beratung.<br>
<strong>10.3</strong> Dem Kunden steht das Angebot von Dreambeem grundsätzlich jederzeit zur Verfügung. Dreambeem behält sich jedoch vor, die Erreichbarkeit einzuschränken oder,<br>
    insbesondere aus technischen Gründen (Instandhaltung und Wartung), für einen vorübergehenden Zeitraum auszusetzen. Obwohl Dreambeem selbstverständlich bemüht ist, den Content ständig verfügbar <br>
    zu halten, kann keine Gewähr für die ständige Erreichbarkeit gegeben werden. Dies gilt insbesondere für Leistungen, die von Dritten bezogen werden, wie beispielsweise die Lieferung von Daten <br>
    und Informationen. Zudem ist die Qualität des Zugangs zum Internet und des Datenverkehrs im Internet abhängig von nachgelagerten Datenleitungen, auf die Dreambeem keinen Einfluss hat und daher <br>
    auch für diese keine Gewähr übernehmen kann. Insbesondere haftet Dreambeem nicht bei Störungen der Qualität des Zugangs zum Internet und des Datenverkehrs im Internet aufgrund höherer Gewalt und <br>
    aufgrund von Ereignissen, die Dreambeem nicht zu vertreten hat und die die Leistungen von Dreambeem wesentlich erschweren oder unmöglich machen.<br><br>
<strong>11. Haftung</strong><br>
<strong>11.1</strong> Soweit die unvollständige, fehlerhafte oder verzögerte Lieferung der vom Kunden bestellten Leistungen auf einem Verschulden von Dreambeem, ihrer Organe, Mitarbeiter, <br>
    Vertreter oder mit Dreambeem verbundener Unternehmen sowie ihrer Erfüllungsgehilfen beruht, haftet Dreambeem jeweils nur im Falle von Vorsatz und grober Fahrlässigkeit. Dreambeem schließt die <br>
    Haftung für leichte Fahrlässigkeit aus. Auch die Haftung für entfernte Folge- oder mittelbare Schäden ist bei leichter Fahrlässigkeit ausgeschlossen. Die vorstehenden Haftungsausschlüsse und -beschränkungen <br>
    gelten nicht bei einer Verletzung wesentlicher Vertragspflichten, des Lebens, der Gesundheit und des Körpers sowie garantierter Eigenschaften.<br>
<strong>11.2</strong> Genügt Dreambeem der in Ziffer 10.1 genannten Kontroll- und Auswahlpflicht bezüglich der von Dritten gelieferten Daten und Informationen, so haftet Dreambeem nicht für Schäden,<br>
    die dem Kunden durch eine unrichtige, unvollständige oder nicht aktuelle Information entstehen. 11.3 Sollte der Kunde Unternehmer oder eine juristische Person des öffentlichen Rechts sein, <br>
    so haftet Dreambeem neben den unter dieser Ziffer 11 genannten Haftungsbeschränkungen nur für vorhersehbare und vertragstypische Schäden, jedoch nicht über einen Betrag von € 5.000,-<br>
    pro Schadensfall hinaus.<br><br>
<strong>12. Störungsmeldungen / Reklamationen</strong><br>
Bei Qualitätsmängeln, Störungsmeldungen oder sonstigen Reklamationen kann der Kunde eine E-Mail an support_papers@dreambeem.com richten.<br><br>
<strong>13. Datenschutz</strong><br>
<strong>13.1</strong> Dreambeem speichert zur Ermittlung und Abrechnung des vom Kunden in Anspruch genommenen Content lediglich alle abrechnungsrelevanten Daten des Kunden, wie z.B. Name, <br>
    Anschrift. Der Kunde kann die bei Dreambeem gespeicherten Daten jederzeit einsehen und ändern. Hierzu wendet er sich an support_papers@dreambeem.com.<br>
<strong>13.2</strong> Dreambeem hält die Regeln des Datenschutzes ein und steht dafür ein, dass alle Personen, die mit der Abwicklung dieses Vertrags betraut werden,<br>
    diese Vorschriften ebenfalls beachten. Für weitere Informationen verweisen wir auf unsere Datenschutzbestimmungen. Dreambeem weist darauf hin, dass es aufgrund der Struktur des Internet möglich ist,<br>
    dass die Regeln des Datenschutzes von anderen, nicht im Verantwortungsbereich von Dreambeem liegenden Personen oder Institutionen nicht beachtet werden. <br>
    Insbesondere können unverschlüsselt weitergegebene Daten - auch wenn dies per E-Mail erfolgt - von Dritten mitgelesen werden. Dreambeem hat hierauf technisch keinen Einfluss. <br>
    Es liegt im Verantwortungsbereich des Kunden, die von ihm zur Verfügung gestellten Daten durch Verschlüsselung oder in sonstiger Weise gegen Missbrauch zu schützen.<br><br>
<strong>14. Änderung der AGB</strong><br>
Es gelten die jeweils bei Vertragsschluss maßgeblichen AGB. Dreambeem behält sich das Recht zur Änderung dieser Allgemeinen Geschäftsbedingungen vor.<br>
    Dreambeem wird dem Kunden eine solche Änderung jeweils mindestens 6 Wochen im Voraus per E-Mail mitteilen. Der Kunde hat das Recht, den Vertragsänderungen durch Ausübung seines Kündigungsrechts<br>
    gemäß Ziffer 8 dieser AGB zu widersprechen. Andernfalls gelten die Änderungen als vom Kunden genehmigt. Dreambeem wird den Kunden in der Benachrichtigung über die Änderung über <br>
    sein Widerspruchsrecht besonders aufklären.<br><br>

<strong>16. Sonstiges</strong><br>
<strong>16.1</strong> Es gilt ausschließlich deutsches Recht, unabhängig davon, ob der Bezug des von Dreambeem bereitgestellten Content aus dem In- oder Ausland erfolgt.<br>
<strong>16.2</strong> Sofern eine Bestimmung dieser AGB unwirksam ist, bleiben die übrigen Bestimmungen davon unberührt.<br>
Weitere Angaben zu den Vertretungsberechtigten und die ladungsfähige Anschrift sind dem Impressum von Dreambeem zu entnehmen.<br>
Stand: 13. Juni 2017