<md-content class="md-padding" ng-controller="AgbProductsCtrl" ng-init="setMeta();">
<h2 ng-init="setMeta();"><strong>DREAMBEEM.COM ALLGEMEINE GESCHÄFTSBEDINGUNGEN SHOPS</strong></h2>
<p>

    Zuletzt geändert: 01.01.2018<br><br>


    Willkommen bei Dreambeem.com.<br><br>

    Dreambeem.com bietet Webseitenfunktionalitäten und andere Produkte und Services an,
    wenn Sie die Dreambeem.com – Webseite (die “Webseite“) nutzen oder auf der Webseite einkaufen, Produkte oder Services von Dreambeem nutzen,
    in einem der vorgehenden Zusammenhänge von Dreambeem bereitgestellte Software nutzen.
    Dreambeem.com ist der Handelsname für Dreambeem.<br><br>



    <strong>NUTZUNGSBEDINGUNGEN</strong><br>

    Bitte lesen Sie diese Bedingungen aufmerksam, bevor Sie die Dreambeem Services benutzen. Durch die Nutzung der Dreambeem Services erklären Sie Ihr Einverständnis,
    an diese Bedingungen gebunden zu sein. Wir bieten Ihnen eine Auswahl an von Dreambeem Services an. In manchen Fällen finden darauf zusätzliche Bedingungen Anwendung.
    Wenn sie einen Dreambeem Service (z.B. Member - Bereich, Dreamshare) verwenden, unterliegen Sie den Bedingungen, die auf den jeweiligen Dreambeem Service anwendbar sind
    (“Servicebedingungen“). Wenn diese Nutzungsbedingungen den jeweiligen Servicebedingungen widersprechen, haben jene Servicebedingungen Vorrang.<br><br>


    <strong>1. DATENSCHUTZ</strong><br>

    Bitte lesen Sie auch unsere Datenschutzerklärung und unsere Erklärung zu Cookies & Internetwerbung, die auch für Ihre Nutzung von Dreambeem Services gelten.<br><br>


    <strong>2 ELEKTRONISCHE KOMMUNIKATION</strong><br>

    Wenn Sie einen Dreambeem Service nutzen oder E-Mails, Textnachrichten oder andere Mitteilungen von Ihrem Computer oder Ihrem mobilen Gerät an uns senden, kommunizieren Sie mit uns elektronisch.
    Wir werden mit Ihnen auf verschiedene Art und Weise elektronisch kommunizieren, z.B. über E-Mail, Textnachrichten oder auch durch Veröffentlichung elektronischer Nachrichten oder
    sonstiger Kommunikation auf unserer Webseite oder im Rahmen anderer Dreambeem Services, wie etwa dem Beem Messages. Für vertragliche Zwecke stimmen Sie zu, elektronische Kommunikation von uns
    zu erhalten und Sie stimmen zu, dass alle Zustimmungen, Benachrichtigungen, Veröffentlichungen und andere Kommunikation, die wir Ihnen elektronisch mitteilen insofern keine Schriftform erfordern,
    es sei denn zwingend anzuwendende gesetzliche Vorschriften erfordern eine andere Form der Kommunikation.<br><br>




    <strong>3 LIZENZ UND ZUGANG</strong><br>

    Unter der Voraussetzung der Einhaltung dieser Nutzungsbedingungen und etwaiger anwendbarer Servicebedingungen sowie der Bezahlung anfallender Gebühren gewähren Ihnen Dreambeem und seine Anbieter
    von Inhalten eine beschränkte, einfache, nicht übertragbare und nicht unterlizenzierbare Lizenz für den Zugriff und die nicht-kommerzielle Nutzung der Dreambeem Services. Diese Lizenz beinhaltet nicht
    den Weiterverkauf oder die kommerzielle Nutzung von Dreambeem Services oder Ihrer Inhalte, eine Erfassung und Nutzung von Produktinformationen, Beschreibungen oder Preisen, die abgeleitete Nutzung
    von Dreambeem Services oder Ihrer Inhalte, ein Herunterladen oder Kopieren von Kontoinformationen zugunsten eines anderen Händlers oder die Nutzung von Data-Mining, Robotern oder
    ähnlichen datenerfassungs- und Extraktions-Programmen.

    Dreambeem und seine Lizenzgeber, Lieferanten, Herausgeber, Rechteinhaber oder andere Anbieter von Inhalten behalten sich alle Rechte vor, die Ihnen nicht ausdrücklich in diesen Nutzungsbedigungen oder
    in den Servicebedingungen gewährt werden. Kein Dreambeem Service noch irgendwelche Teile davon dürfen ohne ausdrückliche schriftliche Zustimmung reproduziert, vervielfältigt, kopiert, verkauft,
    weiterverkauft oder anderweitig zu kommerziellen Zwecken genutzt werden.

    Sie dürfen die Dreambeem Services nicht missbräuchlich verwenden. Sie dürfen die Dreambeem Services nur im gesetzlich erlaubten Rahmen verwenden. Die durch Dreambeem gewährten Rechte zur Nutzung
    von Dreambeem Services erlöschen, wenn sie diese Nutzungsbedingungen oder die Servicebedingungen nicht einhalten.<br><br>


    <strong>4 IHR KONTO</strong><br>

    Wenn Sie einen Dreambeem Service nutzen, sind Sie für die Sicherstellung der Vertraulichkeit Ihres Kontos und Passworts und für die Beschränkung des Zugangs zu Ihrem Computer und Ihren mobilen Geräten
    verantwortlich und soweit unter anwendbarem Recht zulässig, erklären Sie sich damit einverstanden, für alle Aktivitäten verantwortlich zu sein, die über Ihr Konto oder Passwort vorgenommen werden.
    Sie sollten alle erforderlichen Schritte unternehmen, um sicherzustellen, dass Ihr Passwort geheim gehalten und sicher aufbewahrt wird und Sie sollten uns unverzüglich informieren, wenn Sie Anlass
    zur Sorge haben, dass ein Dritter Kenntnis von Ihrem Passwort erlangt hat oder das Passwort unautorisiert genutzt wird oder dies wahrscheinlich ist. Sie sind dafür verantwortlich, sicherzustellen,
    dass Ihre Angaben an uns korrekt und vollständig sind und Sie uns von jeglichen Änderungen hinsichtlich der von Ihnen gegebenen Informationen in Kenntnis setzen. Sie können viele der Informationen,
    die Sie uns gegeben haben, sowie Ihre Kontoeinstellungen in dem Bereich der Webseite einsehen und aktualisieren.
    Sie dürfen einen Dreambeem Service nicht verwenden: (i) in einer Weise, die dazu geeignet ist, den Dreambeem Service oder den Zugang dazu zu unterbrechen, zu beschädigen oder in sonstiger Art
    zu beeinträchtigen, oder (ii) für betrügerische Zwecke oder in Verbindung mit einer Straftat oder rechtswidrigen Aktivität oder (iii) um Belästigung, Unannehmlichkeiten oder Angst zu verursachen.
    Wir behalten uns das Recht vor, Ihnen Services auf der Webseite vorzuenthalten oder Mitgliedskonten zu schließen. Das gilt insbesondere für den Fall, dass Sie gegen anwendbares Recht,
    vertragliche Vereinbarungen oder unsere Richtlinien verstoßen.<br><br>

    <strong>5 KOMMUNIKATION UND ANDERE INHALTE</strong><br>
    Besucher dürfen Postings und andere Inhalte verfassen, E-Cards und andere Kommunikation senden und Vorschläge, Ideen, Fragen oder andere Informationen einsenden, so lange die Inhalte nicht illegal,
    obszön, beleidigend, bedrohend, diffamierend, in die Privatsphäre eindringend, rechtsverletzend sind oder anderweitig Dritte verletzen oder unzulässig sind und nicht aus Softwareviren,
    politischen Kampagnen, werblicher Ansprache, Kettenbriefen, Massensendungen oder jegliche Form von "Spam" besteht oder dies enthält. Sie dürfen keine falsche E-Mailadresse verwenden,
    sich als irgendeine andere Person oder Gesellschaft ausgeben. Wir behalten uns das Recht vor (übernehmen jedoch ohne Vorliegen einer ausreichenden Mitteilung - keine Verpflichtung),
    diese Inhalte zu entfernen oder zu bearbeiten. Sollten Sie der Auffassung sein, dass Ihre Immaterialgüterrechte durch einen Artikel oder Informationen in einem Dreambeem Service verletzt werden,
    benachrichtigen Sie uns bitte durch das Ausfüllen und Absenden des entsprechenden Benachrichtigungsformulars.
    Wenn Sie Inhalte auf der Webseite einstellen oder Materialien einsenden, gewähren Sie, soweit nicht anderweitig geregelt: (a) Dreambeem das nicht-ausschließliche, unentgeltliche,
    unterlizenzierbare und übertragbare Recht zur Nutzung, Vervielfältigung, Änderung, Bearbeitung, Veröffentlichung, Übersetzung, Herstellung abgeleiteter Werke, Verbreitung und Wiedergabe
    dieser Inhalte weltweit in allen Medien; und (b) Dreambeem und Übertragungsempfängern das Recht den Namen, den Sie im Zusammenhang mit diesen Inhalten einsenden, zu verwenden.
    Urheberpersönlichkeitsrechte ("Moral Rights") werden durch diese Regelung nicht übertragen.
    Sie stimmen zu, dass die Rechte, die Sie oben stehend eingeräumt haben, unwiderruflich während der gesamten Schutzdauer Ihrer Immaterialgüterrechte, die im Zusammenhang mit diesen Inhalten
    und Materialien stehen, gewährt sind. Sie stimmen zu, auf unsere Anforderung alle weiteren erforderlichen Handlungen vorzunehmen, um jegliche der oben stehenden Rechte, die Sie Dreambeem
    eingeräumt haben, zu vollenden, einschließlich der Ausfertigung förmlichen Dokumenten und Unterlagen.
    Sie garantieren, dass Sie alle Rechte an den Inhalten, die Sie verfasst haben, innehaben oder anderweitig darüber verfügen; dass, zum Zeitpunkt, an dem die Inhalte und das Material bereitgestellt
    wurden: (i) die Inhalte und Materialien fehlerfrei sind; und (ii) die Verwendung der Inhalte und Materialien, die Sie zur Verfügung stellen, keine anwendbaren Bedingungen und Richtlinien
    von Dreambeem verletzen und keiner Person oder Gesellschaft Schaden zufügt (einschließlich, dass die Inhalte oder Links nicht diffamierend sind). Sie stimmen zu, Dreambeem von allen Ansprüchen
    Dritter freistellen, die gegen Dreambeem geltend gemacht werden und aus oder im Zusammenhang mit den Inhalten oder Links entstehen, die Sie zur Verfügung gestellt haben, ausgenommen
    in dem Umfang, dass eine Haftung aus Dreambeems Versäumnis herrührt, die Inhalte angemessen zu entfernen, sobald Dreambeem.com auf die Rechtswidrigkeit hingewiesen wurde (Benachrichtigungsformular).<br><br>


    <strong>6 ANSPRÜCHE AUS IMMATERIALGÜTERRECHTEN</strong><br>

    Dreambeem respektiert die Immaterialgüterrechte Dritter. Wenn Sie der Auffassung sind, dass Ihre Immaterialgüterrechte in einer Art genutzt wurden, der Anlass zur Befürchtung einer Verletzung gibt,
    benachrichtigen Sie uns.<br><br>


    <strong>7 NUTZUNGSBEDINGUNGEN FÜR DREAMBEEM SOFTWARE</strong><br>

    Zusätzlich zu diesen Nutzungsbedingungen gelten für Software (einschließlich aller Updates und Upgrades und jeglicher zugehöriger Dokumentation), die wir Ihnen von Zeit zu Zeit für Ihre Nutzung
    im Zusammenhang mit den Dreambeem Services zur Verfügung stellen (die "Dreambeem Software"), die hier verfügbaren Softwarenutzungsbedingungen.<br><br>


    <strong>8 ANDERE UNTERNEHMEN</strong><br>

    Andere Personen als Dreambeem betreiben Läden, erbringen Dienstleistungen oder verkaufen Sortimente auf dieser Webseite. Ferner stellen wir Links zu Seiten von verbundenen Firmen und
    bestimmten anderen Unternehmen zur Verfügung. Wir sind nicht für eine Untersuchung und Bewertung dieser Angebote oder Seiten verantwortlich und wir leisten keine Gewähr für die Angebote
    dieser Unternehmen oder Einzelpersonen oder die Inhalte auf deren Webseiten. Drambeem übernimmt keine Verantwortung oder Haftung für Handlungen, Produkte und Inhalte all dieser oder
    jeglicher dritter Personen. Sie werden darüber informiert, wenn eine dritte Person in Ihren Geschäftsvorgang einbezogen ist und wir dürfen Ihre Informationen bezüglich dieses Geschäftsvorgangs
    dieser dritten Person mitteilen. Sie sollten deren Datenschutzerklärungen und andere Nutzungsbedingungen sorgfältig lesen.<br><br>


    <strong>9 DREAMBEEMS ROLLE</strong><br>

    Dreambeem erlaubt Drittanbietern, ihre Produkte auf der Webseite zu listen und zu verkaufen. Auch wenn Dreambeem Transaktionen
    auf dem Dreambeem Marktplatz ermöglicht, ist Dreambeem weder der Käufer noch der Verkäufer dieser Drittanbieter-Artikel. Dreambeem bietet Käufern und Verkäufern die Möglichkeit,
    Verhandlungen durchzuführen und Transaktionen abzuschließen. Somit wird der Vertrag, der bei Verkaufsabschluss dieser Drittanbieter-Artikel zustande kommt, ausschließlich zwischen dem Käufer
    und dem Verkäufer geschlossen. Dreambeem ist nicht Vertragspartner und übernimmt daher keine Verantwortung für jenen Vertrag. Dreambeem ist auch nicht der Vertreter des Verkäufers.
    Der Verkäufer ist verantwortlich für den Verkauf der Produkte, jegliche Reklamation von Seiten des Käufers und alle anderen Angelegenheiten, die durch den Vertrag zwischen Käufer und Verkäufer entstehen.<br><br>


    <strong>10 UNSERE HAFTUNG</strong><br>

    Wir bemühen uns stets sicherzustellen, dass die Dreambeem Services ohne Unterbrechungen verfügbar sind und Übermittlungen fehlerfrei sind. Durch die Beschaffenheit des Internets kann dies jedoch nicht
    garantiert werden. Auch Ihr Zugriff auf Dreambeem Services kann gelegentlich unterbrochen oder beschränkt sein, um Instandsetzungen, Wartungen oder die Einführung von neuen Einrichtungen oder Services
    zu ermöglichen. Wir versuchen die Häufigkeit und Dauer jeder dieser vorübergehenden Unterbrechung oder Beschränkung zu begrenzen.
    Dreambeem haftet unbeschränkt, soweit die Schadensursache auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung von Dreambeem oder eines gesetzlichen Vertreters oder Erfüllungsgehilfen
    von Dreambeem beruht.
    Ferner haftet Dreambeem für die leicht fahrlässige Verletzung von wesentlichen Pflichten. Wesentlich sind Pflichten, deren Verletzung die Erreichung des Vertragszwecks gefährdet oder
    deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung Sie regelmäßig vertrauen.
    In diesem Fall haftet Dreambeem jedoch nur für den vorhersehbaren, vertragstypischen Schaden. Dreambeem haftet nicht für die leicht fahrlässige Verletzung anderer als der in den vorstehenden Sätzen
    genannten Pflichten.
    Die vorstehenden Haftungsbeschränkungen gelten nicht bei Verletzung von Leben, Körper und Gesundheit, für einen Mangel nach Übernahme einer Garantie für die Beschaffenheit des Produktes und
    bei arglistig verschwiegenen Mängeln. Die Haftung nach dem Produkthaftungsgesetz bleibt unberührt.
    Soweit die Haftung von Dreambeem ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Arbeitnehmern, Vertretern und Erfüllungsgehilfen.<br><br>

    <strong>11 ANWENDBARES RECHT</strong><br>

    Es gilt deutsches Recht.<br><br>


    <strong>12 ÄNDERUNGEN VON SERVICES ODER ÄNDERUNGEN DER NUTZUNGSBEDINGUNGEN</strong><br>

    Wir behalten uns das Recht vor, Änderungen an Dreambeem Services, Regelwerken, Bedingungen einschließlich dieser Nutzungsbedingungen und der Servicebedingungen jederzeit vorzunehmen.
    Sie unterliegen den Allgemeinen Geschäftsbedingungen, Vertragsbedingungen und Nutzungsbedingungen die zu dem Zeitpunkt in Kraft sind, an dem Sie die Dreambeem Services nutzen.
    Falls eine dieser Bedingungen für unwirksam, nichtig oder aus irgendeinem Grund für undurchsetzbar gehalten wird, gilt diese Regelung als abtrennbar und beeinflusst die Gültigkeit und Durchsetzbarkeit
    aller verbleibenden Regelungen nicht.<br><br>





    <strong>13 KEIN VERZICHT</strong><br>

    Wenn Sie diese Nutzungsbedingungen verletzen und wir unternehmen hiergegen nichts, sind wir weiterhin berechtigt, von unseren Rechten bei jeder anderen Gelegenheit,
    in der Sie diese Nutzungsbedingungen verletzen, Gebrauch zu machen.<br><br>


    <strong>14 MINDERJÄHRIGE</strong><br>

    Wir bieten keine Produkte zum Kauf durch Minderjährige an. Unsere Produkte für Kinder können nur von Erwachsenen gekauft werden. Falls Sie unter 16 sind dürfen Sie Dreambeem Services
    nur unter Mitwirkung eines Elternteils oder Erziehungsberechtigten nutzen.<br><br>


    <strong>15 UNSERE KONTAKTINFORMATIONEN</strong><br>

    Sitz:<br>
    Dreambeem.com<br>
    Dachauer Str. 8<br>
    82256 Fürstenfeldbruck<br>
    Deutschland<br><br>



<h2><strong>VERKAUFSBEDINGUNGEN</strong></h2><br><br>

<strong>1 GELTUNGSBEREICH</strong><br>

Diese Verkaufsbedingungen regeln den Verkauf von Produkten durch Dreambeem.com an Sie.
Wir bieten Ihnen eine Auswahl an von Dreambeem Services an. In manchen Fällen finden darauf zusätzliche Bedingungen Anwendung. Wenn sie einen Dreambeem Service (z.B. Member - Bereich oder Dreamshare) verwenden, unterliegen Sie den Bedingungen, die auf den jeweiligen Dreambeem Service anwendbar sind (“Servicebedingungen“). Wenn diese Nutzungsbedingungen
den jeweiligen Servicebedingungen widersprechen, haben jene Servicebedingungen Vorrang.
Bitte lesen Sie diese Bedingungen aufmerksam, bevor Sie eine Bestellung an Dreambeem aufgeben. Durch Aufgabe einer Bestellung an Dreambeem erklären Sie sich mit
der Anwendung dieser Verkaufsbedingungen auf Ihre Bestellung einverstanden.<br><br>

<strong>2 VERTRAGSSCHLUSS</strong><br>

Ihre Bestellung stellt ein Angebot an Dreambeem zum Abschluss eines Kaufvertrages dar. Wenn Sie eine Bestellung an Dreambeem aufgeben, schicken wir Ihnen eine Nachricht,
die den Eingang Ihrer Bestellung bei uns bestätigt und deren Einzelheiten aufführt (Bestellbestätigung). Wenn Sie bestimmte Dreambeem Services nutzen, kann die Bestellbestätigung in Ihrem Kundenkonto übermittelt werden.
Diese Bestellbestätigung stellt keine Annahme Ihres Angebotes dar, sondern soll Sie nur darüber informieren, dass Ihre Bestellung bei uns eingegangen ist.
Ein Kaufvertrag kommt erst dann zustande, wenn das bestellte Produkt an Sie versende worden ist und den Versand an Sie mit einer zweiten E-Mail in Ihrem Kundenkonto
(Versandbestätigung) bestätigen. Vertragspartner ist Dreambeem.com. Ungeachtet Ihres Widerrufsrechts nach Ziffer 3 können Sie Ihre Bestellung für ein Produkt vor Zusendung
der zugehörigen Versandbestätigung jederzeit kostenfrei stornieren.
Dieses Recht zur Stornierung besteht nicht bei bestimmten Produktgruppen und Services, einschließlich digitaler Inhalte oder Software, die nicht auf einem körperlichen Datenträger
(bspw. auf einer CD oder DVD) geliefert werden, sofern der Download oder die Nutzung (je nachdem, welches der frühere Zeitpunkt ist ) begonnen hat.
Sie stimmen zu, dass Sie Rechnungen elektronisch erhalten. Elektronische Rechnungen werden Ihnen im PDF Format in dem Bereich Customerbereich der Webseite zur Verfügung gestellt.
Wir werden Sie für jede Lieferung in der Versandbestätigung darüber informieren, ob eine elektronische Rechnung verfügbar ist.
Bitte beachten Sie, dass wir sämtliche Produkte nur in haushaltsüblichen Mengen verkaufen. Dies bezieht sich sowohl auf die Anzahl der bestellten Produkte im Rahmen einer Bestellung
als auch auf die Aufgabe mehrerer Bestellungen desselben Produkts, bei denen die einzelnen Bestellungen eine haushaltsübliche Menge umfassen.<br><br>

<strong>3 WIDERRUFSRECHT BIS ZU 14 TAGEN, AUSSCHLUSS DES WIDERRUFSRECHTS UND GESETZLICHES GEWÄHRLEISTUNGSRECHT</strong><br><br>

<strong>Widerrufsbelehrung</strong><br><br>

<strong>Widerrufsrecht</strong><br>

Sie haben das Recht, diesen Vertrag innerhalb von 14 Tagen ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht Beförderer ist, die Ware (oder die letzte Ware,
Teilsendung oder Stück im Falle eines Vertrags über mehrere Waren einer einheitlichen Bestellung oder die Lieferung einer Ware in mehreren Teilsendungen oder Stücken) in Besitz genommen haben
oder ab dem Tag des Vertragsschlusses, im Falle von digitalen Inhalten, die nicht auf einem körperlichen Datenträger geliefert werden (z.B. CDs oder DVDs), ohne Angabe von Gründen zu widerrufen.
Um Ihr Widerrufsrecht auszuüben, müssen Sie uns über Ihren Entschluss informieren, diesen Vertrag zu widerrufen. Bitte richten Sie Ihren Widerruf an:<br><br>
Dreambeem.com<br>
Dachauer Str. 8<br>
82256 Fürstenfeldbruck<br>
dreambeemcom@gmail.com<br>
oder<br><br>

an entsprechenden Verkäufer<br><br>



Sie können Ihre Erklärung entsprechend den Erläuterungen und Formularen, die auf unserer Website erhältlich sind, elektronisch ausfüllen und übermitteln, Sie können uns kontaktieren oder
dieses Muster - "Kontakt". Wir werden Ihnen unverzüglich (z. B. per E-Mail) eine Bestätigung über den Eingang eines solchen Widerrufs übermitteln.
Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden und Sie die Waren an den Verkäufer
innerhalb der unten definierten Frist zurückgesendet haben.
Folgen des Widerrufs:
Wenn Sie diesen Vertrag widerrufen, erstatten wir Ihnen alle Zahlungen für die erworbene Waren, die wir von Ihnen erhalten haben, ausgenommen die Lieferkosten. Diese Rückzahlung wird unverzüglich
und spätestens, vorbehaltlich der unten genannten Situationen, innerhalb von vierzehn Tagen ab dem Tag erfolgen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist.
Für diese Rückzahlung verwenden wir das Zahlungsmittel Überweisung. Für die Rückzahlung berechnen wir Ihnen in keinem Fall Entgelte. Wir können die Rückzahlung verweigern, bis wir die Waren wieder
zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.
Sie müssen die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an den Verkäufer zurücksenden.
Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Sie haben die regelmäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware
der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs
noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben.
Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren
nicht notwendigen Umgang mit ihnen zurückzuführen ist.
Ausnahmen vom Widerrufsrecht
zur Lieferung von Waren, die aus Gründen des Gesundheitsschutzes oder aus Hygienegründen nicht zur Rückgabe geeignet sind und deren Versiegelung nach der Lieferung entfernt wurde oder
die nach der Lieferung aufgrund ihrer Beschaffenheit untrennbar mit anderen Gütern vermischt wurden;
zur Lieferung von Ton- oder Videoaufnahmen oder Computersoftware in einer versiegelten Packung, wenn die Versiegelung nach der Lieferung entfernt wurde;
zur Lieferung von Waren, die nach Kundenspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind
zur Lieferung von Waren, die schnell verderben können oder deren Verfallsdatum 	schnell überschritten würde;
zur Lieferung alkoholischer Getränke, deren Preis beim Abschluss des Kaufvertrags vereinbart wurde, deren Lieferung aber erst nach 30 Tagen erfolgen kann und deren aktueller Wert von Schwankungen
auf dem Markt abhängt, auf die der 	Unternehmer keinen Einfluss hat.<br><br>

<strong>GESETZLICHES GEWÄHRLEISTUNGSRECHT:</strong><br>
Zusätzlich zu Ihrer 30-Tage Rückgabegarantie haben Besteller in der Europäischen Union für einen Zeitraum von zwei Jahre ab der Lieferung der Ware Gewährleistungsrechte und können
die Reparatur oder den Ersatz der auf Dreambeem gekauften Produkte verlangen, wenn diese sich als mangelhaft oder nicht wie beschrieben erweisen. Wenn die Ware nicht innerhalb
einer angemessenen Zeit oder nicht ohne Schwierigkeiten repariert oder ersetzt werden kann, können Sie die Rückerstattung oder Minderung des Kaufpreises verlangen.
Im Fall von gebrauchten Waren kann die Gewährleistungsfrist kürzer als zwei Jahre sein.
Für zusätzliche Informationen über die Bestimmungen und Bedingungen verweisen wir Sie auf unsere Rückgabebedingungen.<br><br>

<strong>4 PREISE</strong><br>
Alle Preise beinhalten die jeweilige anwendbare Mehrwertsteuer.
Trotz unserer größten Bemühungen kann eine kleine Anzahl der Produkte in unserem Katalog mit dem falschen Preis ausgezeichnet sein. Wir überprüfen die Preise, wenn wir Ihre Bestellung
bearbeiten und bevor wir die Zahlung belasten. Wenn ein Produkt mit einem falschen Preis ausgezeichnet ist und der korrekte Preis höher ist als der Preis auf der Webseite, werden wir Sie vor
Versand der Ware kontaktieren, um Sie zu fragen, ob Sie das Produkt zum korrekten Preis kaufen oder die Bestellung stornieren wollen. Sollte der korrekte Preis eines Produkts niedriger sein
als der von uns angegebene Preis, werden wir den niedrigeren Betrag berechnen und Ihnen das Produkt zusenden.<br><br>

<strong>5 LIEFERUNG</strong><br>
Sofern nicht anders vereinbart, erfolgt die Lieferung an die vom Besteller angegebene Lieferadresse. Auf der Webseite finden Sie Hinweise zur Verfügbarkeit von Produkten, die vom Verkäufer verkauft
werden (z.B. auf der jeweiligen Produktdetailseite). Wir weisen darauf hin, dass sämtliche Angaben zu Verfügbarkeit, Versand oder Zustellung eines Produktes lediglich voraussichtliche Angaben
und ungefähre Richtwerte sind. Sie stellen keine verbindlichen bzw. garantierten Versand- oder Liefertermine dar. Sofern Dreambeem während der Bearbeitung Ihrer Bestellung feststellt,
dass von Ihnen bestellte Produkte nicht verfügbar sind, werden Sie darüber gesondert per E-Mail oder per Nachricht in Ihr Messaging in Ihrem Kundenkonto informiert. Die gesetzlichen Ansprüche
des Bestellers bleiben unberührt.
Soweit eine Lieferung an den Besteller nicht möglich ist, weil die gelieferte Ware nicht durch die Eingangstür, Haustür oder den Treppenaufgang des Bestellers passt oder weil der Besteller nicht
unter der von ihm angegebenen Lieferadresse angetroffen wird, obwohl der Lieferzeitpunkt dem Besteller mit angemessener Frist angekündigt wurde, trägt der Besteller die Kosten für
die erfolglose Anlieferung.<br><br>



<strong>6 ANWENDBARES RECHT</strong><br>

Es gilt deutsches Recht.<br><br>


<strong>7 ÄNDERUNG DER VERKAUFSBEDINGUNGEN</strong><br>

Wir behalten uns das Recht vor, Änderungen an unserer Webseite, Regelwerken, Bedingungen einschließlich dieser Verkaufsbedingungen jederzeit vorzunehmen.
Auf Ihre Bestellung finden jeweils die Verkaufsbedingungen, Vertragsbedingungen und Allgemeine Geschäftsbedingungen Anwendung, die zu dem Zeitpunkt Ihrer Bestellung in Kraft sind,
es sei denn eine Änderung an diesen Bedingungen ist gesetzlich oder auf behördliche Anordnung erforderlich (in diesem Fall finden sie auch auf Bestellungen Anwendung, die Sie zuvor getätigt haben).
Falls eine Regelung in diesen Verkaufsbedingungen unwirksam, nichtig oder aus irgendeinem Grund undurchsetzbar ist, gilt diese Regelung als abtrennbar und beeinflusst die
Gültigkeit und Durchsetzbarkeit der verbleibenden Regelungen nicht.<br><br>


<strong>8 KEIN VERZICHT</strong><br>

Wenn Sie diese Verkaufsbedingungen verletzen und wir unternehmen hiergegen nichts, sind wir weiterhin berechtigt, von unseren Rechten bei jeder anderen Gelegenheit,
in der Sie diese Verkaufsbedingungen verletzen, Gebrauch zu machen.<br><br>


</p>

</md-content>
