<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Dreambeems Rolle</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Dreambeem.com bringt Dropshipping und Social Media zusammen. Du verkaufst mit deinem Dreambeem - Shop Waren über die Social Media Kanäle. Die Möglichkeiten,
            die Facebook, Twitter & Co. bieten, hast Du bei Dreambeem.com ebenfalls zur Verfügung. Teilen, Nachrichten senden oder twittern um nur Einige zu nennen.
            Durch die breite Auswahl an Links - ständig aktuelle Nachrichten und Produkte - postest Du permanent Links in die sozialen Medien.<br>
            Die Dreambeem - Community stellt Dir ein weiteren Vertriebskanal dar. Über Suchmaschinen, die vorkonfigurierte Beem - Lines ( Timeline mit Produkten einer Produktkategiorie ),
            fionden lassen, User Beem - Line im Member - Bereich oder Facebook, Twitter & Co. Profile auf denen deine Links ständig erscheinen. Außerdem hast du die Möglichkeit,
            mit den Communitymitgliedern von Dreambeem.com einen "Dreamshare" zu machen. Von jedem registrierten User werden seinen Follower zusammengezählt und bei Zustimmung des jeweiligen Users
            deine Inhalte gepostet. Dies verschafft Dir eine riesige Reichweite, welche Du z.B. für Deine Produktlinks nutzen kannst.<br>
            Dreambeem.com ist das perfekte Instrument für Dropshipping über die sozialen Medien. So gibt es Dreambeem.com nur hier exklusiv auf <a href="https://www.dreambeem.com">www.dreambeem.com</a>.
            <br><br><br>


            <img src="images/bp/wegweiser/dreambeem.jpg" alt="Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>