<md-content layout-padding>
    <h2>
        <strong>
            Dreams Guthaben
        </strong>
    </h2>

    <p>
        Mit <strong>Dreams Guthaben</strong> kannst Du Reichweite in den sozialen Medien und somit Reichweite im Beem - Network bekommen.<br>
        <strong>Dreams Guthaben</strong> erreichst Du, wenn Du auf die Links von Dreambeem (Posting) klickst oder Dreamshares (Posting in den sozialen Medien) bestätigst.<br>
        Du erhälst <strong>drei Dreams Guthaben</strong> für einen Dreambeem und <strong>zwei Dreams Guthaben</strong> für einen bestätigten Dreamshare.<br><br>

        Somit ist es nicht schwer, sich kostengünstig mit <strong>Dreambeem.com</strong> die schönsten Dinge zu verdienen. Habt viel Vergnügen beim Ausgeben der <strong>Dreams</strong>!
    </p>
</md-content>