<md-content class="md-padding">
    <h1>
        <strong>
            Dream - Events anbieten
        </strong>
    </h1>

    <p>Sei ein Dream! Mit der Anmeldung über Facebook oder Twitter wirst Du automatisch ein Dream. Man kann dich buchen. Wenn Du ei Eventangebot annimmst und dann am gewünschten Ort erscheinst,
        bekommst Du eine Bewertung und Geld auf Dein Konto gutgeschrieben. Per Paypal wird Dir der gewünschte Betrag ausbezahlt. Am 15. jeden Monats ist Zahltag. Allerdings kannst Du Dein erwirtschaftetes
        Guthaben vorzeitig ausbezahlen lassen. Dreambeem.com hat nichts gegen vorzeitige Auszahlungen.<br><br>
        Um gebucht zu werden, solltest Du festlegen, welche Dienstleistungen Du anbieten willst. Du kannst aus fünf Eventkategorien wählen.
        Lege Deinen Preis fest für Deine kommenden Angebote. Verfügbarkeit, Preis, Event und "Postleitzahlen - Umkreis" um neue Leute kennenzulernen um mit Ihnen näher zusammen zu kommen.<br><br>
        Neue Bekanntschaften erleichtern Dir das alltägliche Leben ungemein. Dreambeem.com strebt danach, dass Menschen trotz verschiedener Glauben oder Erziehung eine Einheit bilden,
        damit Sie <u>zusammen</u> ein besseres Leben führen können.
    </p>
</md-content>