<md-content class="md-padding">
    <h1>
        <strong>
            Dream - Products verkaufen
        </strong>
    </h1>

    <p>Erstelle deinen eigenen Shop auf Dreambeem.com. Basisdaten für Deinen Shop solltest Du zuerst definieren. Danach ist es erforderlich Dein eigenes Lager aus einem Produktportfolio von über 3,5 Mio. Produkten aus verschiedenen Produktkategorien anzulegen.
        Wähle Dein Produkt, hole dir den Preis aus einem Partner - Webshop und setze Deinen eigenen Preis fest. Verbreite Produktlinks in die sozialen Medien.
        Außerdem ist es Dir möglich Produkte auf die Beemline anderer Leute erscheinen zu lassen, indem Du bestimmte Kennwörter für Deine Postings ("Dreambeem" oder "Dreamshare") anlegst.
        Wirb mit Deinen Lieblingsprodukten auf Facebook, Twitter und Dreambeem.com. Lese unseren <a href="https://www.dreambeem.com/wegweiser"><strong>Wegweiser</strong></a> um richtig zu handeln.
    </p>
</md-content>