<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Dropshipping</h1>

    <div layout="row" layout-align="start" class="m-t" layout-wrap flex>
        <p class="text-middle">
            Um zu erklären, wie Dropshipping funktioniert, betrachten wir zuerst die Art, wie der Einkaufsprozess im klassischen Online - Handel vonstatten geht. Der Händler entscheidet sich für
            eione bestimmte Produktpalette. Er kauft, meistens in großen Mengen, diese Waren ein um sie wieder auf dem freien Markt gegen eine Marge anzubieten. Die Lagerung erfolgt in*
            speziellen Lagerräumen oder in der Privatwohnung. Im Falle eines Auftrages werden die Waren verpackt und versendet.<br>
            Solch ein Business ist schwer voraus zu sehen und sehr risikobehaftet. Im Falle eines Nichtverkaufes der Produkte, hat der Händler den wirtschaftlichen Schaden tu tragen.
            Die Lagerung, das Marketing und evtl. die vorher gekauften Verpackungseinheiten kosten bares Geld und können bei einem schlechtlaufenden Geschäft nur bedingt wieder konsolidiert werden.
            Eventuell muss der Händler seine Waren für einen niedrigeren Verkaufspreis als Einkaufspreis auf dem Markt anbieten um wenigstens einen Teil seiner Kosten zu decken.<br>
            Um das Risiko zu minimieren, kommt Dropshipping ins Spiel. Das Geschäftsmodell Dropshipping weist so gut, wie kein Risiko auf.
            Es ist homogen und leicht anwendbar. Hierbei stellt der Händler ein Sortiment an Gütern virtuell zusammen und bietet es im Internet zum Verkauf an.
            Der Unterschied ist jedoch, dass die Waren nicht im voraus gekauft werden, sondern lediglich die Produktdaten in ein angemessenes Format gebracht, um durch Webshops oder
            Online - Marktplätze angeboten zu werden.<br>

            <img style="width: 100%; height: auto;" src="images/bp/wegweiser/dropshipping.png" alt="Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">

            <br>Der Versand erfolgt durch den Lieferanten oder Webshop an den Endkunden. Es ist sogar möglich, den Lieferschein durch den Lieferanten entsprechend an den Dropshipper - Shop anzupassen.
            Also lässt der Dropshipper durchblicken, dass die bestellten Waren von ihm kommen. Also trägt der Dropshipper keinerlei Risiko bei Verkauf, Versand oder Lagerung.
            Nach erfolgreicher Abwicklung erhält der Dropshipper einen prozentualen Anteil am Verkaufswert.<br>
            Dropshipper sind in der Lage riesige Sortimente anzubieten. Sie können sich auf die verkaufsstarken Produkte konzentrieren und haben sogut, wie keinen Aufwand um ihre Produkte erfolgreich
            auf dem Markt zu verkaufen. Sind bestimmte Produkte nicht mehr verfügbar, teilt das der Lieferant oder Webshop dem Dropshipper mit, dieser entfernt genannte Produkte aus seinem Angebot und
            der Verkauf kann reibungslos weitergehen. <br>
        </p>

    </div>

</md-content>
