<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Facebook Gruppen</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Facebook - Gruppen dienen für die meisten als Informationsquelle für bestimmte Themengebiete. Vorrangig werden sie ähnlich, wie eine Facebook - Seite genutzt. Es werden regelmäßig
            Beiträge veröffentlicht. Mittlerweile gibt es Gruppen, die sich ausschließlich um Marketing für das E - Commerce beschäftigen. Dort kannst Du Deine gewinnbringenden Informationen
            erfolgreich veröffentlichen. Schlau ist es, Fragen zu stellen oder um Feedback zu einem bestimmten Sachverhalt zu bitten (Beitrag posten) um die Stimmung in der Gruppe kennenzulernen.
            Es bringt keinen gewünschten Erfolg, nur Links von Produkten in einer Gruppe zu posten, die sich nicht ausschließlich mit Vertrieb von Artikeln beschäftigt. Beginne eine konstruktive
            Diskussion über ein bestimmtes Thema um die Leute besser kennen zu lernen. Und wenn der richtige Zeitpunkt kommt, postest Du fein ausgewählte Links zu Deinen Produkten.
            Scheue Dich nicht in sehr vielen Gruppen anzumelden, die Gruppenmitglieder sind alle potenzielle Kunden.
            <br><br>


            <img src="images/bp/tipps/gruppen.jpg" alt="facebook Seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>