<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Facebook - Seite</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Facebook - Seiten sind im Social Media Marketing ein wichtiges Instrument. Ein einfaches Handling gewährleisten eine hohe Akzeptanz in der Social Media Community.
            Durch dieses Instrument lassen sich ohne Probleme am Tag mehrere Posts Richtung Ihres Dreambeem - Shops absetzen. Beiträge, Videos, Bewertungen, Veranstaltungen, Bilder,
            Statistiken und vieles mehr können auf einer Facebook - Seite veröffentlicht bzw. eingesehen werden. Eine Facebook - Seite ist völlig kostenlos. Die Anzahl an Abonnenten und Likes ist
            ausschlaggebend für Deine Reichweite. Wichtige Informationen, wie Internetadresse, Email und weiteres sind ebenso enthalten, wie Logo, Titelbild usw. Mit der Strategie die User auf Deine
            Produkte aufmerksam zu machen und sie Deine Posts kommentieren zu lassen, kann Deine Facebook - Seite zum zweitwichtigsten Medium in Deinem Geschäft werden. Viele Abonnenten - Leute,
            die Deinen Facebook - Seite liken und regelmäßige Updates - Posts - empfangen, nutzen Facebook - Seiten um über ein Unternehmen, in dem Fall Shop, auf dem Laufenden zu bleiben. Zögere
            nicht und erstelle Dir Deine persönliche Geschäfts - Facebook - Seite.
            <br><br>


            <img src="images/bp/tipps/fbseite.jpg" alt="facebook Seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>