<md-content layout-padding ng-controller="FaqCtrl" ng-init="setMeta();">
    <h2>
        <strong>
            FAQ
        </strong>
    </h2>
    <p>Die meist gefragten Fragen - <strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions</p>


    <h4>
        <strong>
            1. Was ist der Webservice Dreambeem.com?
        </strong>
    </h4>
    <p>
        Dreambeem.com wurde im Dezember 2014 gegründet. Dreambeem.com vereint den Community bzw. E - Commerce - Gedanken mit den sozialen Medien.
        Du kannst Dich per Twitter oder Facebook einloggen und
        Dir stehen des anderen Users soziale Reichweite zur Verfügung. Du kannst Deine Beemline (Timeline)
        individuell einstellen, so dass Du Deine persönlich gefilterten Informationen erhälst. Aktuelle Nachrichten und Produkte kannst Du über Dreambeem posten.
        Erstelle Dein Lager aus dem Produkt - Portfolio von über 3,4 Mio. Produkten, setze Deinen Preis fest und verkaufe...
        Mit der Anmeldung bist du automatisch "Dream". Das heißt, Du wirst in unserer Datenbank als Eventgeber angeboten. Damit erhälst Du bei richtiger Werbung in den sozialen Medien, Angebote.
        Diese kannst Du annehmen oder ablehnen. Bei erfolgter Buchung erhälst Du eine Bewertung und damit Einnahmen. 80% des Angebotspreises gehören Dir, 20% gehören der Dreambeem.com als Vermittlungsgebühr.
    </p>
    <h4>
        <strong>
            2. Was ist Dreambeem?
        </strong>
    </h4>
    <p>
        Dreambeem ist das Herzstück vom Service Dreambeem.com. Durch einen Dreambeem lassen sich Dreams Guthaben verdienen,
        die man mit Dreamshare ausgeben kann. Jeder Dreambeem muss lediglich bestätigt werden.
        Es ist möglich täglich frische Dream - News oder Dream - Products zu posten.
        Schlagwörter und ein Link sind Voraussetzung für einen erfolgreichen Dreambeem.
    </p>
    <h4>
        <strong>
            3. Was ist Dreamshare?
        </strong>
    </h4>
    <p>
        Dreamshare ermöglicht Dir tief in die sozialen Medien einzudringen.
        Durch einen Dreamshare kannst Du sehr viele Menschen über Twitter oder Facebook erreichen,
        sowie durch Dreambeem.com. Die Community - User müssen bestätigen - per Beemline.<br>
        Es ist möglich täglich frische Dream - News oder Dream - Products zu posten.
        Schlagwörter und ein Link sind Voraussetzung für einen erfolgreichen Dreamshare.
    </p>
    <h4>
        <strong>
            4. Was ist Beemline?
        </strong>
    </h4>
    <p>
        Die Beemline von Dreambeem.com ist einzigartig. Sie bietet die Möglichkeit
        individuell Einstellungen per Schlagwörter vorzunehmen. Es werden Dreambeems und Dramshares angezeigt.
        Außerdem werden Ebay - Produkte und Dreams - Menschen, samt Beschreibungen und Webseiten bzw. Produktdetailseiten angezeigt.
    </p>
    <h4>
        <strong>
            5. Was ist Dreams Guthaben?
        </strong>
    </h4>
    <p>
        Mit <strong>Dreams Guthaben</strong> kannst Du Reichweite in den sozialen Medien erzielen.<br>
        <strong>Dreams Guthaben</strong> erreichst Du, wenn Du auf die Links von Dreambeem (Posting) klickst oder Dreamshare (Posting in den sozialen Medien) bestätigst.<br>
        Du erhälst <strong>drei Dreams Guthaben</strong> für einen Dreambeem und <strong>zwei Dreams Guthaben</strong> für einen bestätigten Dreamshare.<br>
    </p>
    <h4>
        <strong>
            6. Kann ich mit Dreambeem.com mein eigenes Lager erstellen?
        </strong>
    </h4>
    <p>
        Ja. Über den Menüpunkt "Portfolio" definierst Du Dein eigenes Lager,
        indem Du Produkte aus verschiedenen Kategorien nach Lagerbestand abfragst. diese abfragen kommen direkt von Partner - Webshops in Echtzeit.
        Bei erfolgreichem Lagerbestand kannst Du das angefragte Produkt in Dein Lager übernehmen.
    </p>
    <h4>
        <strong>
            7. Kann ich mit Dreambeem.com meine eigenen Preise definieren?
        </strong>
    </h4>
    <p>
        Ja. Über den Menüpunkt "Lager" definierst Du Deine eigenen Produktpreise, indem Du zuerst den Einkaufspreis holst und danach Deinen Preis festsetzst. Die Links kannst Du dann gewinnbringend in die sozialen Medien oder auf Dreambeem.com posten.
    </p>
    <h4>
        <strong>
            8. Wenn ich Einnahmen erzielt habe, wann und wie werde ich ausbezahlt?
        </strong>
    </h4>
    <p>
        Über den Menüpunkt "Auszahlungen" kannst Du festsetzen, wieviel Du ausgezahlt haben möchtest. Jeden 15. des Monats ist Zahltag.<br>
        Natürlich kannst Du eine vorzeitige Auszahlung erwirken, indem Du uns per Kontakt Deinen Wunschbetrag nennst.<br>
        Grundsätzlich hat die Dreambeem.com keine Bedenken bei einer vorzeitigen Auszahlung.
    </p>
    <h4>
        <strong>
            9. Wo werden meine Verkäufe zurückverfolgt?
        </strong>
    </h4>
    <p>
        Über den Menüpunkt "Verkäufe" kannst Du Deine Verkäufe & Gewinne einsehen.
    </p>
    <h4>
        <strong>
            10. Wie zahle ich bei Dreambeem.com Geld ein um einzukaufen?
        </strong>
    </h4>
    <p>
        Nutze Paypal um Dein Konto aufzuladen. Einfach auf das Paypal - Logo klicken.
    </p>
    <h4>
        <strong>
            11. Was sind "Dream - News"?
        </strong>
    </h4>
    <p>
        Mit Dreambeem.com ist es Dir gestattet, aktuelle Nachrichten vom "Stern, Spiegel und Focus Online" zu posten.
        Auf Facebook oder Twitter sollen Deine für Dich relevanten Nachrichten erscheinen. Zu dem hinzu, auf Deiner Beemline.
        Dreambeem.com erhält von seinen News - Partnern (Stern, Spiegel, Focus Online) täglich um 12:00 Uhr mitteleuropäischer Zeit
        komplette Nachrichtenmeldungen. In über 20 News - Kategorien werden Text, Link und Bild einer Nachrichtenmeldung angezeigt und stehen jedem Dream frei zur Verfügung.
        Ob man Nachrichten nur lesen oder gar verbreiten möchte, ist jedem freigestellt.
    </p>
    <h4>
        <strong>
            12. Wie bucht man einen Menschen - Dream?
        </strong>
    </h4>
    <p>
        Jeder eingeloggte User kann buchen oder gebucht werden. Man klickt im "Merchant Center" auf "Buchen". Dort wählt man entweder durch Filter oder direkter Namenssuche einen Dream aus.
        Man schaut sich seine Instagram, Facebook oder Twitter Profile an. Danach nutzt man ein Google Maps Programm um Start und Ziel festuzlegen. Ein Routenplaner für öffentliche Verkehrsmittel, Fahrten oder
        "Zu Fuß" ist im Google Maps Programm integriert. <br><br>
        In den "Buchungsdetails" klickt man auf die gewünschten Einträge, folgend Eventkategorie, Event, Datum, Uhrzeit und Angebotspreis. dann schließt man die Buchung mit einem Klick auf "BUCHEN" ab.
        Nun erhält der auserwählte Dream eine Nachricht, dass man Sie/Ihn buchen möchte. Die Buchung kann angenommen oder abgelehnt werden. Sowohl bei Annahme als auch bei Ablehnung wird der Booker
        über die Entscheidung informiert.
        Bei Annahme ist gebuchte Person, sogleich der Booker verpflichtet an dem Treffen teilzunehmen. Vei erfolgtem Treffen muss der Booker eine Bewertung für das Treffen abgeben.
        Danach erhält der/die gebuchte Dream eine entgeltliche Belohnung. Der Verdienst wird augenblicklich auf seinem Dreambeem.com Konto gutgeschrieben.
        Falls der Booker keine Bewertung abgibt, bekommt die gebuchte Person für ein unbewertetes Treffen ebenso eine Belohnung, wie für ein bewertetes Treffen - in gleicher Höhe.
    </p>
    <h4>
        <strong>
            13. Ist es möglich, auf Dreambeem.com einzukaufen?
        </strong>
    </h4>
    <p>
        Ja.
    </p>
    <h4>
        <strong>
            14. Was kann ich auf Dreambeem.com einkaufen?
        </strong>
    </h4>
    <p>
        Produkte aus über 5.000 Produktkategorien. Du kannst außerdem Menschen für Events buchen.
    </p>
    <h4>
        <strong>
            15. Welche bekannten Persönlichkeiten stehen bei Dreambeem.com?
        </strong>
    </h4>
    <p>
    <ul style="list-style-type: none; text-align: center;">
        <li><strong>Bundeskanzlerin Angela Merkel</strong></li>
        <li><strong>Minister Peter Altmaier</strong></li>
        <li><strong>Minister Sigmar Gabriel</strong></li>
        <li><strong>Dieter Bohlen</strong></li>
        <li><strong>Karolin Kebekus</strong></li>
        <li><strong>Joko Winterscheidt</strong></li>
        <li><strong>Klaas von Pro7</strong></li>
        <li><strong>Verona Pooth</strong></li>
        <li><strong>Cem Özdemir</strong></li>
        <li><strong>Boris Becker</strong></li>
        <li><strong>Bushido</strong></li>
        <li><strong>Sido</strong></li>
        <li><strong>Fler</strong></li>
    </ul>
    <br>
    Um nur Einige zu nennen.
    </p>
    <h4>
        <strong>
            16. Kann ich die Treffen online streamen? Was bekomme ich dafür?
        </strong>
    </h4>
    <p>
        Ja. Auf dem Youtube Dreambeem com - Kanal kannst Deine Eventtreffen LIVE streamen.
        <a href="https://support.google.com/youtube/answer/2853700?co=GENIE.Platform%3DAndroid&hl=de" target="_blank">Hier</a> findest Du die Anleitung.
        Die Serveradresse: rtmp://a.rtmp.youtube.com/live2<br>
        Schlüssel: j36h-dvpw-y9jf-0hxp<br><br>
        Du erhälst für jeden Stream <strong>21 Dreams Guthaben</strong>.
    </p>
    <h4>
        <strong>
            17. Kann ich für meine Streams nachhaltig Werbung schalten?
        </strong>
    </h4>
    <p>
        Ja. Wir erstellen auf Wunsch Infokarten für Deine Streams.
        <a href="https://support.google.com/youtube/answer/6140493?hl=de" target="_blank">Hier</a> findest Du die Informationen.<br>
        Per <a href="https://www.dreambeem.com/contact/">Kontakt - Formular</a> kannst Du beliebig viele Infokarten anfordern. Bitte Buchungsnummer, Name und Emailadresse angeben.
    </p>
    <h4>
        <strong>
            18. Mit welchen mobilen Endgeräten ist www.dreambeem.com kompatibel?
        </strong>
    </h4>
    <p>
        <ul style="list-style-type: none; text-align: center;">
            <li>Blackberry Z30</li>
    <li>Blackberry Playbook</li>
    <li>Galaxy Note 3</li>
    <li>Galaxy Note II</li>
    <li>Galaxy S III</li>
    <li>Kindle Fire HDX</li>
    <li>LG Optimus L70</li>
    <li>Microsoft Lumia 550</li>
    <li>Microsoft Lumia 950</li>
    <li>Laptop with HiDPI Screen</li>
    <li>Laptop with MDPI Screen</li>
    <li>Laptop with Touch</li>
    <li>Nexus 4</li>
    <li>Nexus 5</li>
    <li>Nexus 6</li>
    <li>Nexus 7</li>
    <li>Nexus 10</li>
    <li>Nokia Lumia 520</li>
    <li>iPad Mini</li>
    <li>iPhone 4</li>
    <li>Galaxy S5</li>
    <li>Nexus 5X</li>
    <li>Nexus 6P</li>
    <li>iPhone 7</li>
    <li>iPhone 7 Plus</li>
    <li>iPhone 8</li>
    <li>iPhone 8 Plus</li>
    <li>iPhone X</li>
    <li>iPad</li>
    <li>iPad Pro</li>

        </ul>
    </p>
    <h4>
        <strong>
            19. Welche Internet Browser sind kompatibel mit Dreambeem.com?
        </strong>
    </h4>
    <p>
    <ul style="list-style-type: none; text-align: center;">
        <li><strong>Google Chrome</strong></li>
        <li><strong>Mozilla Firefox</strong></li>
        <li><strong>Safari</strong></li>
        <li><strong>Opera</strong></li>
    </ul>
    </p>
</md-content>
