<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Immer posten</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Immer posten heißt das Motto. Wie schon vorher erwähnt, ist posten ein Kontaktsport. Über den Tag verteilt sollte man mindestens 30 Posts in verschiedenen Kanälen absetzen.
            Private Nachrichten sollte man ebenso mindestens 30 an der Zahl pro Tag absetzen. Die Ergnisse hängen von der Qualität der Mitteilugnen ab. Grundsätzlich kann man sagen,
            dass man mit der Zeit eine gewisse Anzahl an Kunden durch dauerhaftes Posten gewinnt bzw. erhält. Also immer posten, posten, posten.
            <br><br>


            <img style="width: 100%; height: auto;" src="images/bp/tipps/immerposten.jpg" alt="facebook Seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>