<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Kontakte</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Emaillisten und Telefonnummern helfen ebenso wie Social Media um Personen auf Deinen Shop aufmerksam zu machen. Der persönliche Kontakt zum Kunden ist genauso wichtig, wie der Verkauf.
            Produktbilder und Beschreibungen in Emails in Form eines Newsletters sind genauso erfolgsversprechend, wie Facebook - Seiten oder private Nachrichten. Email - Marketing ist für Shops
            essentiell wichtig. Die bestehenden Kunden sollte man immer auf aktuelle Angebote aufmerksam machen. Dreambeem.com arbeitet daran, deinen Emailverkehr zu automatisieren.
            Außerdem werden die allgemeinen Vorgänge immer mehr automatisiert werden, dass Dein Shop bei den richtigen Einstellungen von selbst Umsatz generieren wird.
            <br><br>


            <img src="images/bp/tipps/kontakte.jpg" alt="facebook kontakte Seite Dreambeem.com email Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt kontakte email Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>