<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Private Nachrichten</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Private Nachrichten sind im Social Media Marketing als Kaltakquise zu betrachten. Nichts desto trotz, nutzen Sie im Allgemeinen sehr viel. Durch das Versenden guter Bilder und
            Texte werden die Leute darauf aufmerksam, was Du verkaufst und was Du außerdem durch Deinen Dreambeem - Shop bieten kannst. Es ist wichtig, dass die potenziellen Kunden
            das volle Informationspaket über Deine Produkte erhalten. Gekonnt eingesetzte Marketing - Nachrichten können Wunder bewirken und bringen Dir gute Conversionrates -
            Anzahl der versendeten Nachrichten im Verhältnis Anzahl der Nachrichten, die einen Kunden akquiriert haben. Somit sei nicht scheu, so viel, wie möglich Nachrichten auf Facebook, Twitter & Co.
            zu verschicken. Das ist ein Kontaktsport, umso mehr Nachrichten Du versendest, desto mehr werden Deine Produkte annehmen und - wenn sie mit Deinem Service zufrieden sind - wiederkommen.
            Ein Beipiel für ein gute Nachricht könnte wie folgt aussehen: Ein Text, der Deinen Shop vorstellt bzw. seine Vorteile erläutert, ein Produktbild mit den entsprechenden Daten dazu.
            Also immer cool bleiben und die Menschen anschreiben, so oft und so gut es geht. Man hat eine freie Minute, man tippt in sein Smartphone einen Marketing - Text und verschickt es an 10 Menschen auf
            Faccebook über Dreambeem.com. Und schon hat man wieder aufmerksam auf seinen Shop gemacht, dein Name wird im Gedächtnis bleiben, wenn man nur lange genug dieses Instrument nutzt.
            <br><br>


            <img src="images/bp/tipps/pn.jpg" alt="facebook Seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>