<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Andere Social Media Kanäle</h1>

    <div layout="row" layout-align="start" layout-wrap flex>
        <p class="text-middle">

            Natürlich sind andere soziale Medien als Facecbook & Twitter auch interessant für uns. Instagram, Quora oder Youtube können ebenso genutzt werden, wie persönliche Kontakte über Telefon
            und Email. Aber dazu später mehr. Wenn man sich eine Strategie für Social Media erarbeitet hat - sprich die richtigen Bilder, gute Marketingtexte usw. - hat, kann man ohne Bedenken die
            weniger bekannten sozialen Kanäle nutzen. Weniger bekannte soziale Medien können überraschungsweise eine gute Erweiterung der bestehehenden Vertriebskanäle sein. Wenn man sich ein
            gewisses Standing in den sozialen Medien aufgebaut hat, kann es nicht schaden z.B. Videos bei Youtube hochzuladen, die Deine Produkte sehr gut hervorheben. Die Zuschauer lernen Dich
            und Deinen Shop damit besser kennen, so dass Du eine höhere Aufmerksamkeit erhälst und sie weiter ausbauen kannst. Verfilme Deine Stärken und hebe Dein Geschäft hervor.
            <br><br>


            <img src="images/bp/tipps/socialmedia.jpg" style="width: 100%; height: auto;" alt="facebook Seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" width="700"
                 title="facebook seite Dreambeem.com Chancen auf dem Markt Dropshipping Internethandel Webshop Dropshipper E-Commerce" style="height: auto; width: 100%;">
            <br>
        </p>

    </div>

</md-content>