<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Social Media</h1>

    <div layout="row" layout-align="start" class="m-t" layout-wrap flex>
        <p class="text-middle">
            Social Media hat sich als Grundbegriff in den Medien eingebürgert. Es wird von der Internetgemeinde am häufigsten genutzt und stellt für viele die täglichen Klicks dar.
            Ob Facebook, Twitter, Instagram oder Quora - Sie sind alle soziale Kanäle, ohne die wir unser tägliches Leben nicht mehr vorstellen können. Facebook - Seiten und Twitter Follower
            gehören zu den Merkmalen, die dieses Medium am besten beschreiben.<br>
            Eine Facebook - Seite ist im Grunde genommen ein Blog. Der Inhaber im Social Network schreibt regelmäßig Posts. Diese Posts werde auf einer social Plattform veröffentlicht.
            Die Leser haben die Möglichkeit die Veröffentlichungen zu kommentieren und mit dem Verfasser in Kontakt zu treten. Umso mehr Leute die Artikel lesen, desto größer wird die soziale
            Reichweite.<br>
            Social Media für Unternehmen kann sehr interessant werden, wenn Influencer - Personen, die eine hohe Reichweite haben (viele Likes bzw. Abonnenten) - ggf. Werbung auf Ihren
            Facebook - Seiten oder Twitter Accounts veröffentlichen. Genauso beläuft sich die Tatsache mit Twitter. Jeder Follower kann ein potenzieller Kunde werden, wenn man ihm die
            richtigen Sachen anbietet.<br>
            Über Facebook & Twitter lassen sich Werbeanzeigen schalten, sodass man seine Reichweite selbst bestimmen kann. Für ein Tagesbudget von  3 € erreicht man ca. 2000 Menschen - bzw. man erhält 2000 Imressionen.
            Mittlerweile erreicht man mehr Menschen mit Social Media als durch den Rundfunk - also Fernsehen.<br>
            Auf Facebook sind über 1 Mrd. Menschen registriert und mehrere hundert Millionen Menschen nutzen täglich Facebook. Bei Twitter sind mehrere hundert Millionen Menschen registriert.
            Diese zwei Social Media Giganten bilden das Schwergewicht im Internet, sie gehören zu den meist besuchtesten Websites auf der Welt.<br><br>
            Im Grunde genommen ist das Ziel von Facebook, Twitter & Co. so viele Menschen, wie möglich zu erreichen. Somit können Sie Werbung entgeltlich anbieten und damit schöne Summen umsetzen.
            Heute kommen über 57% der weltweiten Klicks aus Social Media Kanälen. Das bedeutet, der Mensch, der diese Medien nutzt, wird gläsern. Er gibt sämtliche Informationen preis und lebt
            ein zweites Leben im Netz. Fotos, Artikel, Kommentare, Profile uvm. definieren seine Internet - Darstellung. Durch den Erfolg von Social Media in den letzten Jahren, sind beinahe sämtliche
            Menschen auf der Welt miteinander verbunden, sie können Informationen teilen und auswerten, sodass sie gemeinsam Ergebnisse erzielen, die vorher nicht einmal denkbar waren.<br>
            Social Media öffnet Tür und Tor zur Welt. Es lassen sich Dateien tauschen, Videos abspielen und vieles mehr. Jedes Social Network hat große Vorteile und wird in jedem Fall weiterwachsen.
            Vernetzung, Interaktion und Informationsaustausch werden zukönftig immer wichtiger werden. Jeder kann selbst bestimmen, was er sich anschaut bzw. was er der Community zurückgibt.
            Es entstehen neue Informationsquellen, die es erlauben, über eine breit gefächerte Leserschaft, Communities zu bilden und weiter zu formen.<br>
            Jeder hat die Möglichkeit auf ein riesiges Publikum zuzugreifen, also Chance nutzen und Social Media nutzen.<br><br><br>


            <img src="images/bp/wegweiser/socialmedia.jpg" width="700" alt="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network"
                 title="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network" style="height: auto; width: 100%;">

            <br>
        </p>

    </div>

</md-content>
