<md-content class="md-padding" ng-controller="TippsCtrl" ng-cloak>

    <h1>Tipps</h1>
    <p class="text-middle">
        Hier die wichtigsten Tipps für ein erfolgreiches Nutzen von Dreambeem.com. Wenn du diese Tipps diszipliniert befolgst, wird finanzieller Erfolg nicht nur ein Traum bleiben!
    </p>

    <div layout="row" layout-align="start" class="m-t" layout-wrap flex>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" alt="Facebook - Seite facebook twitter social media social definition" title="Facebook - Seite facebook twitter social media social definition E-Commerce"
                 src="images/bp/tipps/fbseite.jpg">
            <h2>Facebook - Seiten</h2>
            <p>
                Facebook - Seiten sind im Social Media Marketing ein wichtiges Instrument. Ein einfaches Handling gewährleisten eine hohe Akzeptanz in der Social Media Community.
                Durch dieses Instrument lassen sich ohne Probleme am Tag mehrere Posts Richtung Ihres Dreambeem - Shops absetzen.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/facebook-seite/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network"
                 alt="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network" src="images/bp/tipps/pn.jpg">
            <h2>Private Nachrichten</h2>
            <p>
                Private Nachrichten sind im Social Media Marketing als Kaltakquise zu betrachten. Nichts desto trotz, nutzen Sie im Allgemeinen sehr viel. Durch das Versenden guter Bilder und
                Texte werden die Leute darauf aufmerksam, was Du verkaufst und was Du außerdem durch Deinen Dreambeem - Shop bieten kannst. Es ist wichtig, dass die potenziellen Kunden
                das volle Informationspaket über Deine Produkte erhalten.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/private-nachrichten/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel" src="images/bp/tipps/follower.jpg">
            <h2>Viele Follower</h2>
            <p>
                Viele Follower in den sozialen Medien zu erhalten, ist gar nicht so schwer. Vor allem bringen verbundene User eine immer größere Reichweite. Ob Freunde, Bekannte oder gänzlich
                Unbekannte, sie alle stellen Deinen potenziellen Kunden dar.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/viele-follower/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>

        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel" src="images/bp/tipps/gruppen.jpg">
            <h2>Facebook Gruppen</h2>
            <p>
                Facebook - Gruppen dienen für die meisten als Informationsquelle für bestimmte Themengebiete. Vorrangig werden sie ähnlich, wie eine Facebook - Seite genutzt. Es werden regelmäßig
                Beiträge veröffentlicht. Mittlerweile gibt es Gruppen, die sich ausschließlich um Marketing für das E - Commerce beschäftigen.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/facebook-gruppen/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce beemline unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel beemline" src="images/bp/tipps/beemline.jpg">
            <h2>Dreambeems Beemline</h2>
            <p>
                Mit der Dreambeem Beemline lassen sich durch die Funktion "Dreambeem" und "Dreamshare" permanent Posts absetzen, die die User sehen, wenn Ihre Beemline - Konfiguration entsprechend
                konfiguriert ist. Bei Interesse, welches von vorne herein gegeben ist, da die Beemline - Einstellung dies gewährleistet, klicken sie auf Deine Posts und gehen ggf. positiv auf
                Dein Angebot ein.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/beemline/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="posting follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel"
                 alt="posting follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel" src="images/bp/tipps/immerposten.jpg">
            <h2>Immer posten</h2>
            <p>
                Immer posten heißt das Motto. Wie schon vorher erwähnt, ist posten ein Kontaktsport. Über den Tag verteilt sollte man mindestens 30 Posts in verschiedenen Kanälen absetzen.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/immer-posten/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel" src="images/bp/tipps/socialmedia.jpg">
            <h2>Andere Social Media Kanäle</h2>
            <p>
                Natürlich sind andere soziale Medien als Facecbook & Twitter auch interessant für uns. Instagram, Quora oder Youtube können ebenso genutzt werden, wie persönliche Kontakte über Telefon und Email.
                Aber dazu später mehr. Wenn man sich eine Strategie für Social Media erarbeitet hat - sprich die richtigen Bilder, gute Marketingtexte usw. - hat, kann man ohne Bedenken die weniger bekannten sozialen Kanäle nutzen.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/andere-social-media-kanaele/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/bp/tipps/kontakte.jpg">
            <h2>Kontakte</h2>
            <p>
                Emaillisten und Telefonnummern helfen ebenso wie Social Media um Personen auf Deinen Shop aufmerksam zu machen. Der persönliche Kontakt zum Kunden ist genauso wichtig, wie der Verkauf.
                Produktbilder und Beschreibungen in Emails in Form eines Newsletters sind genauso erfolgsversprechend, wie Facebook - Seiten oder private Nachrichten.
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/tipps/kontakte/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/Zusammenhalt.jpg">
            <h2>Dream Events Tipps</h2>
            <p>
                Wenn Ihr euch in den sozialen Medien anbietet, denkt daran! Eure Profile bei Facebook, Twitter und Instagram müssen 1a Qualität haben! Das bedeutet, nur super Pics, nur super Texte und nur
                Videos mit hervorragender Qualität! Ein Profil mit Kätcvhen Videos macht nix her1 Verkauft Euch so teuer, wie es eben nur möglich ist. <br>
                Beim Treffen verkauft Ihr euch noch teurer! Die Leute, die an Euch Interesse zeigen, zahlen für Euch. Präasentiert Euer Wissen, spielt mit Euren Reizen und seit immer nett! Kunde ist schließlich König!
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/Steuertipps.jpg">
            <h2>Steuertipps</h2>
            <p>
                Als Single sind 8.000 € steuerfrei! Als Ehepartner 16.000 €. Erst nach Erreichen dieser Freibeträge meldet Ihr ein Eionzelunternehmen an um nicht in Teufels Küche zu kommen. Für Hartgesottene:
                Meldet Ihr die Beträge nicht dem Finanzamt, kann es passieren, dass Ihr Steuern nachzahlen müsst. Ihr könnt diese Nachzahlungen stunden, sodass Ihr Bargeldreserven oder Geld auf ausländischen Konten hortet.
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/auffinden.jpg">
            <h2>Auffinden von Dreams</h2>
            <p>
                In einer Menschenmasse auf einen Dream zu treffen kann schwierig werden. Also: Wenn Ihr den Treffpunkt gefunden habt, haltet Ihr einfach ein schild oder Zettel mit Dreambeem.com - leserlich - in die Luft.
                Evtl. könnt Ihr rufen: "Dreambeem" oder "Dream". Scheut Euch nicht, die Menschen anzusprechen, die Fotos für die einzelnen Personen habt Ihr normalerweise.
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/verhantenstipps.jpg">
            <h2>Verhaltenstipps</h2>
            <p>
                Kunde ist König! Immer nett und zuvorkommend sein. Ihr verkauft euch als Traum, er will Euch einen Traum verkaufen. Ein Abschluss findet statt, die Frage stellt sich: "Zu welchen Gunsten?"
                An die Frauen: "Männer sind Männer" ;-) Seit aufgeschlossen gegenüber Euch selbst. Liebt Euren Nächsten wie Euch selbst!
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img width="180" style="width: 100%; height: auto;" title="follower likes facebook twitter social media dropshipping dropshipper social plattform social media kontakte marketing e-commerce unternehmen internethandel"
                 alt="follower likes facebook twitter social media dropshipping dropshipper social plattform social media marketing kontakte e-commerce unternehmen internethandel" src="images/geschaefte.jpg">
            <h2>Geschäft</h2>
            <p>
                Kommt ins Geschäft! Eine Hand wäscht die Andere! Sprecht über eure Stärken, verkauft Euch nicht zu billig, findet eine Einigung. Wenn Ihr Eure Kontaktdaten austauscht, solltet Ihr bedenken,
                dass der Verdienst für angenommene Buchungen wegfallen. Also seit lieber knauserig mit Herausgabe Eurer Kontaktdaten!
            </p>
        </div>
    </div>

</md-content>
