<md-content class="md-padding" ng-controller="WegweiserCtrl" ng-cloak>

    <h1>Wegweiser</h1>
    <p class="text-middle">
        Im Wegweiser werden Grundlagen für die Nutzung von Dreambeem.com erklärt. Begriffe, wie Dropshipping, Social Media und Marketing, sowie die erfolgreiche Verknüpfung zu Dreambeem.com sind
        genauso Themen, wie die richtige Verwendung von Dreambeem.com. Wenn Sie die folgenden Anweisungen beachten, werden Sie ein erfolgreicher Dropshipper.
    </p>

    <img class="center-block" src="images/bp/wegweiser/wegweiser.jpg" alt="Wegweiser Dreambeem.com" title="Wegweiser Dreambeem.com" width="300">

    <div layout="row" layout-align="start" class="m-t" layout-wrap flex>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" alt="Dropshipping Internethandel Webshop Dropshipper E-Commerce" title="Dropshipping Internethandel Webshop Dropshipper E-Commerce"
                 src="images/bp/wegweiser/dropshipping.png">
            <h2>Dropshipping</h2>
            <p>
                Um zu erklären, wie Dropshipping funktioniert, betrachten wir zuerst die Art, wie der Einkaufsprozess im klassischen Online - Handel vonstatten geht. Der Händler entscheidet sich für
                eine bestimmte Produktpalette. Er kauft, meistens in großen Mengen, diese Waren ein um sie wieder auf dem freien Markt gegen eine Marge anzubieten. Die Lagerung erfolgt in
                speziellen Lagerräumen oder in der Privatwohnung. Im Falle eines Auftrages werden die Waren verpackt und versendet.<br>
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/dropshipping/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
                <img style="width: 100%; height: auto;" width="180" title="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network"
                     alt="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network" src="images/bp/wegweiser/socialmedia.jpg">
                <h2>Social Media</h2>
                <p>
                    Social Media hat sich als Grundbegriff in den Medien eingebürgert. Es wird von der Internetgemeinde am häufigsten genutzt und stellt für viele die täglichen Klicks dar.
                    Ob Facebook, Twitter, Instagram oder Quora - Sie sind alle soziale Kanäle, ohne die wir unser tägliches Leben nicht mehr vorstellen können. Facebook - Seiten und Twitter Follower
                    gehören zu den Merkmalen, die dieses Medium am besten beschreiben.
                    <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/social-media/">
                        <strong>
                            Weiterlesen
                        </strong>
                    </a>
                </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
                <img style="width: 100%; height: auto;" width="180" title="social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel"
                     alt="social media dropshipping dropshipper social plattform social media marketing e-commerce unternehmen internethandel" src="images/bp/wegweiser/socialdropshipping.jpg">
                <h2>Dropshipping & Social Media</h2>
                <p>
                    Dropshipping & Social Media sind richtig eingesetzt ein optimales Gespann um gewinnbringend Waren und Dienstleistungen im Internet anzubieten. Dropshipping liefert das Modell
                    zum simplen Verkaufen von Waren im Internet und Social Media liefert die gewünschte Reichweite um Menschen zu erreichen, die einkaufen wollen. Somit vereinen diese beiden
                    Geschäftsmodelle ein überaus effektive Art, im Internet Geschäfte zu machen.
                    <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/dropshipping-social-media/">
                        <strong>
                            Weiterlesen
                        </strong>
                    </a>
                </p>
        </div>

        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
                <img style="width: 100%; height: auto;" width="180" src="images/bp/wegweiser/werbung.jpg">
                <h2>Marketing</h2>
               <p>Jeder, der im Internet aktiv ist, hat mindestens einen Social Media Account bei Facebook, Twitter & Co. Somit stellt er/sie bereits die Grundlage für Social Media Marketing dar.
                  Jeder verbundene User ist ein potenzieller Käufer. Mit dem richtigen Marketing wirst Du schnell merken, dass die Leute bei seriöser Abwicklung immer wieder kommen werden.
                   Der Sinn von Social Media ist nicht, sich Traumschlösser zu erschaffen, sondern um möglichst viele Menschen zu erreichen.<br>

                   <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/marketing/">
                       <strong>
                           Weiterlesen
                       </strong>
                   </a>
               </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" alt="Dropshipping Internethandel Webshop Dropshipper E-Commerce" title="Dropshipping Internethandel Webshop Dropshipper E-Commerce"
                 src="images/bp/tipps/follower.jpg">
            <h2>Twitter Follower</h2>
            <p>
                Mit Dreambeem.com kannst Du mit ein wenig Fleiß eine Menge an Followern erhalten. Täglich Leuten folgen, die z.B. in Deiner Sprache Twitter nutzen. Über 1,3 Mio. Twitter
                Benutzer sind in Dreambeem.com enthalten.<br>
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/twitter-follower/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" title="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network"
                 alt="Social Media Social Plattform Social Media für Unternehmen Social Media Marketing Social Network" src="images/twmail.png">
            <h2>Twitter Messages</h2>
            <p>
                Über unsere Einstellungen lassen sich automatisierte Twitter Messages senden. Bei jedem neuen Follower wird eine von Dir definierte Nachricht an den entsprechenden Twitter - User gesendet.
                Somit bleibst Du im Gespräch und sendest dem Twitter Follower Signale, dass Du in der Community aktiv bist.<br>
                <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/twitter-messages/">
                    <strong>
                        Weiterlesen
                    </strong>
                </a>
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
                <img style="width: 100%; height: auto;" width="180" src="images/bp/wegweiser/chancen.jpg">
                <h2>Chancen auf dem Markt</h2>
                <p>
                    Die Chancen auf dem freien Markt sind gut bis sehr gut, da sich mit Social Media durch Vernetzung der User eine hohe Reichweite erzielen lässt.
                    Du findest mit den richtigen Maßnahmen immer jemanden, der sich für deine Produkte interessieren wird. Keine Angst vor neuen Herausforderungen,
                    keine Zurückhaltung beim Posting neuer Angebote und vor allem keine Faulheit beim in Kontakt treten mit potenziellen Kunden. Das sind die drei
                    Formeln, die Deinen Dreambeem - Shop langsam, aber sicher weiterbringen werden.

                    <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/chancen-auf-dem-markt/">
                        <strong>
                            Weiterlesen
                        </strong>
                    </a>
                </p>

        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
                <img style="width: 100%; height: auto;" width="180" src="images/bp/wegweiser/dreambeem.jpg">
                <h2>Dreambeems Rolle</h2>
                <p>
                    Dreambeem.com bringt Dropshipping und Social Media zusammen. Du verkaufst mit deinem Dreambeem - Shop Waren über die Social Media Kanäle. Die Möglichkeiten,
                    die Facebook, Twitter & Co. bieten, hast Du bei Dreambeem.com ebenfalls zur Verfügung. Teilen, Nachrichten senden oder twittern um nur Einige zu nennen.
                    Durch die breite Auswahl an Links - ständig aktuelle Nachrichten und Produkte - postest Du permanent Links in die sozialen Medien.
                    <a style="text-decoration: none; font-size: 18px;" href="https://www.dreambeem.com/wegweiser/dreambeems-rolle/">
                        <strong>
                            Weiterlesen
                        </strong>
                    </a>
                </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" src="images/dreamevents.jpg">
            <h2>Dream Events</h2>
            <p>
                Du bietest Dienstleistungen an oder kannst Dienstleistungen in Form von Personentreffen erwerben. Es machen Dir Personen ein Angebot für eine bestimmte Zeit, bestimmter Ort, Datum und Dienstleistungsart.
                Man kann annehmen oder ablehnen. Per Twitter Message oder per Email (Facebook) werden die Angebote Dir zugesandt.<br>
                Über 56 Events stehen im Portfolio der Dreambeem.com. Eine weitere Einnahmenquelle für jeden, der sich etwas dazuverdienen will.
                Webseiten, Beschreibungen und Fotos dienen zu einfachen Auffindbarkeit der benötigten Informationen über eine Person oder Unternehmen.
                Nach einer erfolgten Buchung bzw. Treffen muss der Booker eine Bewertung für die gebuchte Person abgeben. Nach der Bewertung erhält die gebuchte Person 80% des Buchungswertes.
                20% erhält die Dreambeem.com als Vermittlungsgebühr.
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" src="images/verhaltenbeitreffen.jpg">
            <h2>Verhalten bei Treffen</h2>
            <p>
                Entweder Du bist ehrlich zu Deinem Partner oder eben nicht. Das komplette Event sowas, wie ein Spiel. Es gibt einen Gewinner, einen Verlierer oder es geht unentschieden aus.
                Jeder kann clever oder cleverer sein als sein gegenüber. Das Ziel ist es gemeinsam einen gemeinsamen Nenner zu finden um sich eine feste Bindung aufzubauen. Ein paar Kraftsprüche:
                "Sex sells", "Dreistheit siegt" oder "Kein Schwarz - Weiß denken, sondern Grau - Denken".
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" src="images/steuern.jpg">
            <h2>Steuern</h2>
            <p>
                In Deutschland kann jeder STEUERFREI bis zu 16.000 € im Jahr verdienen. 8.000 € lassen sich STEUERFREI als Single verdienen. 16.000 € können Eheleute STEUERFREI verdienen.
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" src="images/routenplaner.jpg">
            <h2>Routenplaner</h2>
            <p>
                In Dreambeem.com ist der neueste Routenplaner von Google Maps integriert worden. Karte, Routenplan für Öffentliche Verkehrsmittel, zu Fuß und für Fahrten stehen zu Deiner freien Verfügung bereit.
            </p>
        </div>
        <div flex="50" flex-md="50" flex-sm="50" flex-xs="100" class="textBox m-t">
            <img style="width: 100%; height: auto;" width="180" src="images/geschaefte_machen.jpg">
            <h2>Geschäfte machen</h2>
            <p>
                Motivierte Leute können ganz leicht neue Geschäftskontakte mit Dreams - Buchungen finden. Webseiten, Beschreibungen und Fotos dienen zu einfachen Auffindbarkeit der benötigten Informationen über eine Person oder Unternehmen.
            </p>
        </div>
    </div>

</md-content>
