<md-toast class="md-primary">
    <md-content class="md-padding" flex ng-cloak>
        <div class="md-toast-content">
            <h2 class="md-title">Es ist etwas schief gelaufen!</h2>
            <md-icon md-svg-src="alertFalse24" class="material-icons md-24"></md-icon>
            <p>Diese Buchung wurde bereits angenommen bzw. abgelehnt!</p>
            <md-button ng-click="closeToast()" class="md-button md-raised md-primary md-padding">
                Schließen
            </md-button>
        </div>
    </md-content>
</md-toast>
