<div class="footer" ng-cloak>
    <div class="container">
        <div layout="row" layout-wrap layout-align="start" flex>
            <div flex="20" flex-md="50" flex-sm="50" flex-xs="100">
                <ul class="list-footer">
                    <li>
                        <h2><strong>Allgemein</strong></h2>
                    </li>
                    <li>
                        <span><a href="/">Home</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/contact">Kontakt</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/about-us">Über uns</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/faq">FAQ</a></span>
                    </li>
                </ul>
            </div>
            <div flex="20" flex-md="50" flex-sm="50" flex-xs="100">
                <ul class="list-footer">
                    <li>
                        <h2><strong>Business</strong></h2>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/dreamlogin">Dream - Login</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/sell-products">Dream - Products verkaufen</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/sell-events">Dream - Events anbieten</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/dreams-balance">Dreams Guthaben</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/partner">Partner</a></span>
                    </li>
                </ul>
            </div>
            <div flex="20" flex-md="50" flex-sm="50" flex-xs="100">
                <ul class="list-footer">
                    <li>
                        <h2><strong>Rechtliches</strong></h2>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/impressum">Impressum</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/datasecurity">Datenschutz</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/agb-products">AGBs Shops</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/agb-events">AGBs Dienstleistungen</a></span>
                    </li>
                    <li>
                        <span><a href="https://www.dreambeem.com/software-license">Software Lizenz</a></span>
                    </li>
                </ul>
            </div>
            <div flex="20" flex-md="50" flex-sm="50" flex-xs="100" class="m-t">
                <a href="https://paypal.me/AndrasSeke" target="_blank"><img width="120" style="max-width: 100%; height: auto;" src="https://www.paypalobjects.com/webstatic/paypalme/images/pp_logo_small.png" alt="Paypal Zahlungen" title="Paypal Zahlungen"></a>
                <img src="https://www.dreambeem.com/images/siegel.gif" style="max-width: 100%; height: auto;" width="120" alt="Geld-zurück Garantie" title="Geld-zurück Garantie">
            </div>
            <div flex="20" flex-md="50" flex-sm="50" flex-xs="100">
                <img src="https://www.dreambeem.com/images/shipping-logos.png" style="max-width: 100%; height: auto;" width="140" alt="Lieferungen Lieferserviervices" title="Lieferservices">
            </div>
        </div>
        <div layout="row" layout-wrap class="m-t-lg" layout-align="center">
            <script type="text/javascript" src="https://banners.webmasterplan.com/view.asp?ref=713104&js=1&site=10953&b=143&target=_blank&title=FlixBus+-+Einfach+Busfahren" ></script><a href="https://partners.webmasterplan.com/click.asp?ref=713104&site=10953&type=b143&bnb=143" target="_blank"> <img style="width: 100%; height: auto;" src="https://banners.webmasterplan.com/view.asp?ref=713104&site=10953&b=143" id="flix" title="FlixBus - Einfach Busfahren" alt="FlixBus - Einfach Busfahren" /></a>
        </div>
        <div layout="row" layout-wrap class="m-t-lg" layout-align="center">
            <h3><strong>Folgt uns</strong></h3>
            <a style="padding: 0; font-size: 20px; cursor: pointer;" class="m-l" href="https://www.facebook.com/dreambeem" target="_blank">
                <i style="background-image: url(/images/social-sprite.png); width: 43px; background-position: 0px -138px; height: 43px; content: ''; background-repeat: no-repeat; background-size: 295px;display: inline-block; vertical-align: middle;"></i>
            </a>
            <a style="padding: 0; font-size: 20px; cursor: pointer;" class="m-l" href="https://twitter.com/Dreambeem_com" target="_blank">
                <i style="background-image: url(/images/social-sprite.png); width: 43px; background-position: -138px -138px; height: 43px; content: ''; background-repeat: no-repeat; background-size: 295px;display: inline-block; vertical-align: middle;"></i>
            </a>
            <a style="padding: 0; font-size: 20px; cursor: pointer;" class="m-l" href="https://www.instagram.com/ministerdreambeemcom/" target="_blank">
                <i style="background-image: url(/images/social-sprite.png); width: 43px; background-position: -46px -138px; height: 43px; content: ''; background-repeat: no-repeat; background-size: 295px;display: inline-block; vertical-align: middle;"></i>
            </a>
            <a style="padding: 0; font-size: 20px; cursor: pointer;" class="m-l" href="https://www.youtube.com/channel/UCIRjsZvOpCoN9r5LACOi_yg" target="_blank">
                <i style="background-image: url(/images/social-sprite.png); width: 43px; background-position: -249px -74px; height: 43px; content: ''; background-repeat: no-repeat; background-size: 295px;display: inline-block; vertical-align: middle;"></i>
            </a>
        </div>
        <div layout="row" layout-wrap layout-align="center" flex>
            <div class="text-center">
                <i style="background-image: url(/images/social-sprite.png); width: 200px; background-position: -147px -31px; height: 43px; content: ''; background-repeat: no-repeat; background-size: 295px;display: inline-block; vertical-align: middle;"></i><span class="text-small"><strong>Dreambeem.com 2014 - 2018</strong></span>
            </div>
        </div>
    </div>
</div>
